{% block content %}
<div class="panel-sidemenu">
  <h4> Admin Panel </h4>
  <ul>
    <li>
      <a href="/panel/users"> Users
        <div class="spinner spinner-border spinner-border-sm" role="status">
          <span class="visually-hidden"></span>
        </div>
        <span class="count"></span>
      </a>
    </li>
    <li>
      <a href="/panel/teams"> Teams
        <div class="spinner spinner-border spinner-border-sm" role="status">
          <span class="visually-hidden"></span>
        </div>
        <span class="count"></span>
      </a>
    </li>
    <li>
      <a href="/panel/players"> Players
        <div class="spinner spinner-border spinner-border-sm" role="status">
          <span class="visually-hidden"></span>
        </div>
        <span class="count"></span>
      </a>
    </li>
    <li>
      <a href="/panel/matches"> Matches
        <div class="spinner spinner-border spinner-border-sm" role="status">
          <span class="visually-hidden"></span>
        </div>
        <span class="count"></span>
      </a>
    </li>
    <li>
      <a href="/panel/comparisons"> Comparisons
        <div class="spinner spinner-border spinner-border-sm" role="status">
          <span class="visually-hidden"></span>
        </div>
        <span class="count"></span>
      </a>
    </li>
    <li>
      <a href="/panel/box_scores"> Box Scores
        <div class="spinner spinner-border spinner-border-sm" role="status">
          <span class="visually-hidden"></span>
        </div>
        <span class="count"></span>
      </a>
    </li>
    <li>
      <a href="/panel/points"> Points
        <div class="spinner spinner-border spinner-border-sm" role="status">
          <span class="visually-hidden"></span>
        </div>
        <span class="count"></span>
      </a>
    </li>
    <li>
      <a href="/panel/plays"> Plays
        <div class="spinner spinner-border spinner-border-sm" role="status">
          <span class="visually-hidden"></span>
        </div>
        <span class="count"></span>
      </a>
    </li>
  </ul>
</div>
{% endblock %}

{% block scripts %}
<script>
  document.addEventListener('DOMContentLoaded', () => {
    fetchCountsAndStopSpinners();
  });

  function fetchCountsAndStopSpinners() {
    fetch('/panel/get_counts')
      .then(response => response.json())
      .then(data => {
        const spinners = document.querySelectorAll('.spinner');
        const counts = document.querySelectorAll('.count');

        spinners.forEach((spinner, index) => {
          const count = counts[index];
          count.textContent = `(${data.counts[index]})`;

          spinner.style.display = 'none';
        });
      })
  }
</script>
{% endblock %}
