{% block content %}
<div class="modal fade" id="settingsModal" tabindex="-1" aria-labelledby="settingsModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-scrollable">
    <div class="modal-content">
      <div class="modal-header">
        <h3 class="modal-title" id="settingsModalLabel">Account Settings</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form action="{{ url_for('update_account') }}" method="post" id="settingsForm">
          <div class="mb-2">
              <label>New Username</label>
              <input type="text" class="form-control" name="username" id="username" value="{{ session['username'] }}" placeholder="Enter username" required />
          </div>

          <div class="mb-2">
              <label>New Email Address</label>
              <input type="email" class="form-control" name="email" id="email" value="{{ session['email'] }}" placeholder="example@email.com" required />
          </div>

          <div class="mb-2">
              <label>Current Password</label>
              <input type="password" class="form-control" name="password" id="password" placeholder="Enter current password" required />
          </div>

          <div class="mb-2">
              <label>New Password (Optional, 4 to 20 characters)</label>
              <input type="password" class="form-control" name="passwordNew" id="passwordNew" placeholder="Enter new password" pattern=".{4,20}" />
          </div>

          <div>
              <label>Do you support a team? (Optional)</label>
              <select name="team_supported" id="team_supported" class="form-select"></select>
          </div>
        </form>
      </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="submit" class="btn btn-primary" form="settingsForm">Save Changes</button>
      </div>
    </div>
  </div>
</div>
{% endblock %}

{% block scripts %}
<script>
  const settingsModal = document.getElementById('settingsModal');
  if (settingsModal) {
    settingsModal.addEventListener('show.bs.modal', (event) => {
      fetchTeams(event);
    });
  }
  
  function fetchTeams(event) {
      fetch('/settings/get_teams')
        .then(response => response.json())
        .then(data => {
          const teamInput = settingsModal.querySelector('#team_supported');
          const button = event.relatedTarget;
          const team_supported = button.getAttribute('data-bs-team');

          teamInput.innerHTML = '<option value="" selected>Select a Team</option>';
          
          data.forEach(team => {
            const option = document.createElement('option');
            option.value = team.team_id;
            option.textContent = team.team_name;
            teamInput.appendChild(option);
          });

          if (team_supported != "None") {
            teamInput.value = team_supported;
          }
          else {
            teamInput.value = "";
          }
        })
    }
</script>
{% endblock %}
