{% extends "layout.html" %}

{% block title %}Box Scores{% endblock %}

{% block content %} <!-- Will change how this page looks in general -->
<section>
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-10">
        <h2>Euroleague Box Scores</h2>
        <table class="table table-striped table-hover">
          <thead>
            <tr>
              <th>Box Score ID</th>
              <th>Game ID</th>
              <th>Player</th>
              <th>Team</th>
              <th>Points Scored</th>
            </tr>
          </thead>
          <tbody class="table-group-divider">
            {% for bx in box_scores %}
            <tr>
              <td><a class="text-success" href="/box_score/{{ bx['game_player_id'] }}">{{ bx['game_player_id'] }}</a></td>
              <td>{{ bx['game_id'] }}</td>
              <td>{{ bx['player_name'] }}</td>
              <td>{{ bx['team'] }}</td>
              <td>{{ bx['points'] }}</td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </div>
</section>
{% endblock %}
