{% extends "layout.html" %}

{% block title %}Homepage{% endblock %}

{% block content %}
{% with messages = get_flashed_messages(with_categories=true) %}
  {% if messages %}
    {% for category, message in messages %}
      <div class="alert alert-{{category}} alert-dismissible fade show" role="alert">
        {{ message }}
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
      </div>
    {% endfor %}
  {% endif %}
{% endwith %}
<section>
  <h2>Welcome to Euroleague Wiki</h2>
  <p>
    The Euroleague is Europe's top-tier basketball competition, featuring the best teams from across the continent.
    Follow the action, view game statistics, and relive the most exciting moments.
  </p>
  <a class="randombutton" href="{{ url_for('player_details_page', player_id='random') }}"> Show me a Random Player!</a>
  <a class="randombutton" href="{{ url_for('team_details_page', team_id='random') }}">Show me a Random Team!</a>
</section>
{% endblock %}