{% extends "layout.html" %}

{% block title %}Homepage{% endblock %}

{% block content %}
{% with messages = get_flashed_messages(with_categories=true) %}
  {% if messages %}
    {% for category, message in messages %}
      <div class="alert alert-{{category}} alert-dismissible fade show" role="alert">
        {{ message }}
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
      </div>
    {% endfor %}
  {% endif %}
{% endwith %}
<section>
  <h2>Welcome to Euroleague Basketball</h2>
  <p>
    The Euroleague is Europe's top-tier basketball competition, featuring the best teams from across the continent.
    Follow the action, view game statistics, and relive the most exciting moments.
  </p>
  <button class="btn-1" onclick=""> Show me a Random Player!</button>
  <button class="btn-2" onclick=""> Show me a Random Team!</button>
</section>
{% endblock %}