{% extends "layout.html" %}

{% block title %}Login{% endblock %}

{% block content %}
<body>
  <div class="row justify-content-center">
    <div class="col-md-3">
      {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
          {% for category, message in messages %}
            <div class="alert alert-{{category}} alert-dismissible fade show" role="alert">
              {{ message }}
              <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
          {% endfor %}
        {% endif %}
      {% endwith %}
    </div>
  </div>
  <div class="row justify-content-center">
    <div class="col-md-2">
      <h1 class="text-center">Log in</h1>
      <form action="{{ url_for('login') }}" method="post">
        <div class="mb-3">
            <label>Username:</label>
            <input type="text" id="username" name="username" class="form-control" placeholder="Enter username" required>
        </div>
        <div class="mb-2">
            <label>Password:</label>
            <input type="password" id="password" name="password" class="form-control" placeholder="Enter password" required>
        </div>
        <div class="form-check mb-3">
            <input class="form-check-input" type="checkbox" value="True" id="remember" name="remember" />
            <label class="form-check-label" for="remember"> Remember me </label>
        </div>
        <div class="d-flex justify-content-center mb-2">
            <button type="submit" class="btn btn-primary w-100 py-2">Log in</button>
        </div>
      </form>
      <p class="text-center">New here? <a href="{{ url_for('signup') }}">Sign up today!</a></p>
    </div>
  </div>
</body>
{% endblock %}
