{% extends "layout.html" %}

{% block title %}Matches{% endblock %}

{% block content %} <!-- Will change how this page looks in general -->
<section>
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-10">
        <h2>Euroleague Matches</h2>
        <table class="table table-striped table-hover">
          <thead>
            <tr>
              <th>Game ID</th>
              <th></th>
              <th>Team 1</th>
              <th>Team 2</th>
              <th></th>
            </tr>
          </thead>
          <tbody class="table-group-divider">
            {% for match in matches %}
            <tr>
              <td><a class="text-success" href="">{{ match['game_id'] }}</a></td>
              <td>{{ match['team_id_a'] }}</td>
              <td>{{ match['score_a'] }}</td>
              <td>{{ match['score_b'] }}</td>
              <td>{{ match['team_id_b'] }}</td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </div>
</section>
{% endblock %}
