{% extends "layout.html" %}

{% block title %}{{ match['game_id'] }}{% endblock %}

{% block content %}
<div class="container bg-light shadow rounded p-3">
  <div class="d-flex justify-content-center mb-3">
    <span class="badge bg-secondary">{{ match['date'] }} · {{ match['time'] }} · {{ match['stadium'] }} · Attendance: {{ match['capacity'] }}</span>
  </div>
  <div class="d-flex justify-content-around align-items-center mb-5">
    <h1 class="text-center" style="width: 25%;">{{ match['team_a'] }}</h1>
    <div class="d-flex flex-column justify-content-center align-items-center">
      <h1 class="display-2 mt-1 mb-0">{{ match['score_a'] }} - {{ match['score_b'] }}</h1>
      <span class="badge bg-primary">Round {{ match['round'] }} · {{ match['phase'] }}</span>
    </div>       
    <h1 class="text-center" style="width: 25%;">{{ match['team_b'] }}</h1>
  </div>

  <div class="d-flex justify-content-center mt-5 mb-2">
    <ul class="nav nav-tabs" role="tablist">
      <li class="nav-item" role="presentation">
        <button class="nav-link active" id="details-tab" data-bs-toggle="tab" data-bs-target="#details-tab-content" type="button" role="tab">Details</button>
      </li>
      <li class="nav-item" role="presentation">
        <button class="nav-link" id="comparison-tab" data-bs-toggle="tab" data-bs-target="#comparison-tab-content" type="button" role="tab">Comparison</button>
      </li>
      <li class="nav-item" role="presentation">
        <button class="nav-link" id="box-score-tab" data-bs-toggle="tab" data-bs-target="#box-score-tab-content" type="button" role="tab">Box Score</button>
      </li>
      <li class="nav-item" role="presentation">
        <button class="nav-link" id="play-tab" data-bs-toggle="tab" data-bs-target="#play-tab-content" type="button" role="tab">Play by Play</button>
      </li>
    </ul>
  </div>
  
  <div class="tab-content p-4">
    <!-- Match Details Tab -->
    <div class="tab-pane fade show active" id="details-tab-content" role="tabpanel" tabindex="0">
      test1
    </div>

    <!-- Comparison Tab -->
    <div class="tab-pane fade" id="comparison-tab-content" role="tabpanel" tabindex="1">
      test2
    </div>

    <!-- Box Score Tab, will change how it looks -->
    <div class="tab-pane fade" id="box-score-tab-content" role="tabpanel" tabindex="2">
      <table class="table table-striped table-hover">
        <thead class="table-dark">
          <tr>
            <th>Player</th>
            <th>Team</th>
            <th>Dorsal</th>
            <th>Points Scored</th>
            <th>Total Assists</th>
            <th>Total Steals</th>
          </tr>
        </thead>
        <tbody class="table-group-divider">
          {% for bx in box_score %}
          <tr>
            <td>
              {% if bx['player_id'] == bx['team_id'] %}
                TEAM TOTAL
              {% else %}
                {{ bx['player_name'] }}
              {% endif %}
            </td>
            <td>{{ bx['team_name'] }}</td>
            <td>{{ bx['dorsal'] }}</td>
            <td>{{ bx['points'] }}</td>
            <td>{{ bx['assists'] }}</td>
            <td>{{ bx['steals'] }}</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>

    <!-- Play by Play Tab -->
    <div class="tab-pane fade" id="play-tab-content" role="tabpanel" tabindex="3">
      test4
    </div>
  </div>
</div>
{% endblock %}
