{% extends "layout.html" %}

{% block title %}{{ match['game_id'] }}{% endblock %}

{% block content %}
<div class="container bg-light shadow rounded p-3">
  <div class="d-flex justify-content-center mb-3">
    <span class="badge bg-secondary">{{ match['date'] }} · {{ match['time'] }} · {{ match['stadium'] }} · Attendance: {{ match['capacity'] }}</span>
  </div>
  <div class="d-flex justify-content-around align-items-center">
    <h1 class="text-center" style="width: 25%;">{{ match['team_a'] }}</h1>
    <div class="d-flex flex-column justify-content-center align-items-center">
      <h1 class="display-2 mt-1 mb-0">{{ match['score_a'] }} - {{ match['score_b'] }}</h1>
      <span class="badge bg-primary">Round {{ match['round'] }} · {{ match['phase'] }}</span>
    </div>       
    <h1 class="text-center" style="width: 25%;">{{ match['team_b'] }}</h1>
  </div>

</div>
{% endblock %}