{% block content %}
<div class="tab-pane fade px-3" id="play-tab-content" role="tabpanel" tabindex="3">
  <div class="d-flex justify-content-center mt-1 mb-4">
    <ul class="nav nav-pills" id="quarter-tabs" role="tablist">
      <li class="nav-item" role="presentation">
        {% if match['q1_exists'] == 1 %}
        <button class="nav-link active quarter-btn" id="q1-tab" data-bs-toggle="tab" data-bs-target="#q1-content" type="button" role="tab">Quarter 1</button>
        {% else %}
        <button class="nav-link quarter-btn disabled" id="q1-tab" data-bs-toggle="tab" data-bs-target="#q1-content" type="button" role="tab">Quarter 1</button>
        {% endif %}
      </li>
      <li class="nav-item" role="presentation">
        {% if match['q2_exists'] == 1 %}
        <button class="nav-link quarter-btn" id="q2-tab" data-bs-toggle="tab" data-bs-target="#q2-content" type="button" role="tab">Quarter 2</button>
        {% else %}
        <button class="nav-link quarter-btn disabled" id="q2-tab" data-bs-toggle="tab" data-bs-target="#q2-content" type="button" role="tab">Quarter 2</button>
        {% endif %}
      </li>
      <li class="nav-item" role="presentation">
        {% if match['q3_exists'] == 1 %}
        <button class="nav-link quarter-btn" id="q3-tab" data-bs-toggle="tab" data-bs-target="#q3-content" type="button" role="tab">Quarter 3</button>
        {% else %}
        <button class="nav-link quarter-btn disabled" id="q3-tab" data-bs-toggle="tab" data-bs-target="#q3-content" type="button" role="tab">Quarter 3</button>
        {% endif %}
      </li>
      <li class="nav-item" role="presentation">
        {% if match['q4_exists'] == 1 %}
        <button class="nav-link quarter-btn" id="q4-tab" data-bs-toggle="tab" data-bs-target="#q4-content" type="button" role="tab">Quarter 4</button>
        {% else %}
        <button class="nav-link quarter-btn disabled" id="q4-tab" data-bs-toggle="tab" data-bs-target="#q4-content" type="button" role="tab">Quarter 4</button>
        {% endif %}
      </li>
      <li class="nav-item" role="presentation">
        {% if match['extra_time_exists'] == 1 %}
        <button class="nav-link quarter-btn" id="ot-tab" data-bs-toggle="tab" data-bs-target="#ot-content" type="button" role="tab">Overtime</button>
        {% else %}
        <button class="nav-link quarter-btn disabled" id="ot-tab" data-bs-toggle="tab" data-bs-target="#ot-content" type="button" role="tab">Overtime</button>
        {% endif %}
      </li>
    </ul>
  </div>

  <div class="tab-content" id="quarter-tabContent">
    <!-- Quarter 1 Tab -->
    <div class="tab-pane fade show active" id="q1-content" role="tabpanel">
      {% if match['q1_exists'] == 1 %}
        {% for play in play_by_play %}
          {% if play['quarter'] == 'q1' %}
            {% if play['team_id'] == match['team_id_a'] %}
              <div class="d-flex justify-content-around align-items-center mb-3">
                <div class="card shadow-sm" style="width: 25%;">
                  <h6 class="card-header fw-bold text-bg-primary"><a class="text-decoration-none text-light" href="/team/{{ play['team_id'] }}/{{ match['season_code'] }}">{{ play['team_name'] }}</a></h6>
                  {% if play['points'] and play['points'] > 0 %}
                  <div class="card-body text-bg-warning">
                  {% else %}
                  <div class="card-body">
                  {% endif %}
                    <h6 class="card-subtitle mb-2 text-body-secondary">
                      <strong><a class="text-decoration-none text-primary" href="/player/{{ play['player_id'] }}">{{ play['player_name'] }}</a></strong> 
                      {% if play['player_name'] != 'TECHNICAL' %} · Play: {{ play['player_total_plays'] }} {% endif %}
                    </h6>
                    <p class="card-text">{{ play['play_info'] }} {% if play['fastbreak'] == 1 %} · Fastbreak {% endif %} {% if play['second_chance'] == 1 %} · Second Chance {% endif %} {% if play['points_off_turnover'] == 1 %} · Points Off Turnover {% endif %}</p>
                  </div>
                </div>
                <div class="flex-grow-1 d-flex align-items-center">
                  <hr class="w-100 my-0">
                  {% if play['points'] and play['points'] > 0 %}
                    <div class="d-flex flex-column align-items-center justify-content-center">
                      <h3 class="mx-3"><span class="badge text-bg-secondary shadow">{{ play['minute'] }}:00</span></h3>
                      <h1 class="mx-3"><span class="badge text-bg-primary shadow-lg">{{ play['points_a'] }} - {{ play['points_b'] }}</span></h3>
                    </div>
                  {% else %}
                    <h3 class="mx-3"><span class="badge text-bg-secondary shadow">{{ play['minute'] }}:00</span></h3>
                  {% endif %}
                  <div class="w-100 my-0"></div>
                </div>
                <h4 style="width: 25%;"></h4>
              </div>
            {% elif play['team_id'] == match['team_id_b'] %}
              <div class="d-flex justify-content-around align-items-center mb-3">
                <h4 style="width: 25%;"></h4>
                <div class="flex-grow-1 d-flex align-items-center">
                  <div class="w-100 my-0"></div>
                  {% if play['points'] and play['points'] > 0 %}
                    <div class="d-flex flex-column align-items-center justify-content-center">
                      <h3 class="mx-3"><span class="badge text-bg-secondary shadow">{{ play['minute'] }}:00</span></h3>
                      <h1 class="mx-3"><span class="badge text-bg-danger shadow-lg">{{ play['points_a'] }} - {{ play['points_b'] }}</span></h3>
                    </div>
                  {% else %}
                    <h3 class="mx-3"><span class="badge text-bg-secondary shadow">{{ play['minute'] }}:00</span></h3>
                  {% endif %}
                  <hr class="w-100 my-0">
                </div>
                <div class="card shadow-sm" style="width: 25%;">
                  <h6 class="card-header fw-bold text-bg-danger"><a class="text-decoration-none text-light" href="/team/{{ play['team_id'] }}/{{ match['season_code'] }}">{{ play['team_name'] }}</a></h6>
                  {% if play['points'] and play['points'] > 0 %}
                  <div class="card-body text-bg-warning">
                  {% else %}
                  <div class="card-body">
                  {% endif %}
                    <h6 class="card-subtitle mb-2 text-body-secondary">
                      <strong><a class="text-decoration-none text-danger" href="/player/{{ play['player_id'] }}">{{ play['player_name'] }}</a></strong> 
                      {% if play['player_name'] != 'TECHNICAL' %} · Play: {{ play['player_total_plays'] }} {% endif %}
                    </h6>
                    <p class="card-text">{{ play['play_info'] }} {% if play['fastbreak'] == 1 %} · Fastbreak {% endif %} {% if play['second_chance'] == 1 %} · Second Chance {% endif %} {% if play['points_off_turnover'] == 1 %} · Points Off Turnover {% endif %}</p>
                  </div>
                </div>
              </div>
            {% elif play['play_info'] == 'End Period' %}
              <div class="d-flex justify-content-center align-items-center mb-3">
                <hr class="w-100 my-0">
                <h3 class="mx-3"><span class="badge text-bg-warning shadow-lg">{{ play['minute'] }}:00<br/>END OF {{ play['quarter_detailed'] }}</span></h3>
                <hr class="w-100 my-0">
              </div>
            {% elif play['play_info'] == 'Begin Period' %}
              <div class="d-flex justify-content-center align-items-center mb-3">
                <hr class="w-100 my-0">
                <h3 class="mx-3"><span class="badge text-bg-warning shadow-lg">{{ play['minute'] }}:00<br/>START OF {{ play['quarter_detailed'] }}</span></h3>
                <hr class="w-100 my-0">
              </div>
            {% elif play['play_info'] == 'End Game' %}
              <div class="d-flex justify-content-center align-items-center mb-3">
                <hr class="w-100 my-0">
                <h3 class="mx-3"><span class="badge text-bg-warning shadow-lg">{{ play['minute'] }}:00<br/>END OF THE GAME</span></h3>
                <hr class="w-100 my-0">
              </div>
            {% endif %}
          {% endif %}
        {% endfor %}
      {% else %}
        <div class="d-flex justify-content-center align-items-center mb-2">
          <h3><span class="badge text-bg-warning shadow-sm">The match did not go into Quarter 1</span></h3>
        </div>
      {% endif %}
    </div>

    <!-- Quarter 2 Tab -->
    <div class="tab-pane fade" id="q2-content" role="tabpanel">
      {% if match['q2_exists'] == 1 %}
        {% for play in play_by_play %}
          {% if play['quarter'] == 'q2' %}
            {% if play['team_id'] == match['team_id_a'] %}
              <div class="d-flex justify-content-around align-items-center mb-3">
                <div class="card shadow-sm" style="width: 25%;">
                  <h6 class="card-header fw-bold text-bg-primary"><a class="text-decoration-none text-light" href="/team/{{ play['team_id'] }}/{{ match['season_code'] }}">{{ play['team_name'] }}</a></h6>
                  {% if play['points'] and play['points'] > 0 %}
                  <div class="card-body text-bg-warning">
                  {% else %}
                  <div class="card-body">
                  {% endif %}
                    <h6 class="card-subtitle mb-2 text-body-secondary">
                      <strong><a class="text-decoration-none text-primary" href="/player/{{ play['player_id'] }}">{{ play['player_name'] }}</a></strong> 
                      {% if play['player_name'] != 'TECHNICAL' %} · Play: {{ play['player_total_plays'] }} {% endif %}
                    </h6>
                    <p class="card-text">{{ play['play_info'] }} {% if play['fastbreak'] == 1 %} · Fastbreak {% endif %} {% if play['second_chance'] == 1 %} · Second Chance {% endif %} {% if play['points_off_turnover'] == 1 %} · Points Off Turnover {% endif %}</p>
                  </div>
                </div>
                <div class="flex-grow-1 d-flex align-items-center">
                  <hr class="w-100 my-0">
                  {% if play['points'] and play['points'] > 0 %}
                    <div class="d-flex flex-column align-items-center justify-content-center">
                      <h3 class="mx-3"><span class="badge text-bg-secondary shadow">{{ play['minute'] }}:00</span></h3>
                      <h1 class="mx-3"><span class="badge text-bg-primary shadow-lg">{{ play['points_a'] }} - {{ play['points_b'] }}</span></h3>
                    </div>
                  {% else %}
                    <h3 class="mx-3"><span class="badge text-bg-secondary shadow">{{ play['minute'] }}:00</span></h3>
                  {% endif %}
                  <div class="w-100 my-0"></div>
                </div>
                <h4 style="width: 25%;"></h4>
              </div>
            {% elif play['team_id'] == match['team_id_b'] %}
              <div class="d-flex justify-content-around align-items-center mb-3">
                <h4 style="width: 25%;"></h4>
                <div class="flex-grow-1 d-flex align-items-center">
                  <div class="w-100 my-0"></div>
                  {% if play['points'] and play['points'] > 0 %}
                    <div class="d-flex flex-column align-items-center justify-content-center">
                      <h3 class="mx-3"><span class="badge text-bg-secondary shadow">{{ play['minute'] }}:00</span></h3>
                      <h1 class="mx-3"><span class="badge text-bg-danger shadow-lg">{{ play['points_a'] }} - {{ play['points_b'] }}</span></h3>
                    </div>
                  {% else %}
                    <h3 class="mx-3"><span class="badge text-bg-secondary shadow">{{ play['minute'] }}:00</span></h3>
                  {% endif %}
                  <hr class="w-100 my-0">
                </div>
                <div class="card shadow-sm" style="width: 25%;">
                  <h6 class="card-header fw-bold text-bg-danger"><a class="text-decoration-none text-light" href="/team/{{ play['team_id'] }}/{{ match['season_code'] }}">{{ play['team_name'] }}</a></h6>
                  {% if play['points'] and play['points'] > 0 %}
                  <div class="card-body text-bg-warning">
                  {% else %}
                  <div class="card-body">
                  {% endif %}
                    <h6 class="card-subtitle mb-2 text-body-secondary">
                      <strong><a class="text-decoration-none text-danger" href="/player/{{ play['player_id'] }}">{{ play['player_name'] }}</a></strong> 
                      {% if play['player_name'] != 'TECHNICAL' %} · Play: {{ play['player_total_plays'] }} {% endif %}
                    </h6>
                    <p class="card-text">{{ play['play_info'] }} {% if play['fastbreak'] == 1 %} · Fastbreak {% endif %} {% if play['second_chance'] == 1 %} · Second Chance {% endif %} {% if play['points_off_turnover'] == 1 %} · Points Off Turnover {% endif %}</p>
                  </div>
                </div>
              </div>
            {% elif play['play_info'] == 'End Period' %}
              <div class="d-flex justify-content-center align-items-center mb-3">
                <hr class="w-100 my-0">
                <h3 class="mx-3"><span class="badge text-bg-warning shadow-lg">{{ play['minute'] }}:00<br/>END OF {{ play['quarter_detailed'] }}</span></h3>
                <hr class="w-100 my-0">
              </div>
            {% elif play['play_info'] == 'Begin Period' %}
              <div class="d-flex justify-content-center align-items-center mb-3">
                <hr class="w-100 my-0">
                <h3 class="mx-3"><span class="badge text-bg-warning shadow-lg">{{ play['minute'] }}:00<br/>START OF {{ play['quarter_detailed'] }}</span></h3>
                <hr class="w-100 my-0">
              </div>
            {% elif play['play_info'] == 'End Game' %}
              <div class="d-flex justify-content-center align-items-center mb-3">
                <hr class="w-100 my-0">
                <h3 class="mx-3"><span class="badge text-bg-warning shadow-lg">{{ play['minute'] }}:00<br/>END OF THE GAME</span></h3>
                <hr class="w-100 my-0">
              </div>
            {% endif %}
          {% endif %}
        {% endfor %}
      {% else %}
        <div class="d-flex justify-content-center align-items-center mb-2">
          <h3><span class="badge text-bg-warning shadow-sm">The match did not go into Quarter 2</span></h3>
        </div>
      {% endif %}
    </div>

    <!-- Quarter 3 Tab -->
    <div class="tab-pane fade" id="q3-content" role="tabpanel">
      {% if match['q3_exists'] == 1 %}
        {% for play in play_by_play %}
          {% if play['quarter'] == 'q3' %}
            {% if play['team_id'] == match['team_id_a'] %}
              <div class="d-flex justify-content-around align-items-center mb-3">
                <div class="card shadow-sm" style="width: 25%;">
                  <h6 class="card-header fw-bold text-bg-primary"><a class="text-decoration-none text-light" href="/team/{{ play['team_id'] }}/{{ match['season_code'] }}">{{ play['team_name'] }}</a></h6>
                  {% if play['points'] and play['points'] > 0 %}
                  <div class="card-body text-bg-warning">
                  {% else %}
                  <div class="card-body">
                  {% endif %}
                    <h6 class="card-subtitle mb-2 text-body-secondary">
                      <strong><a class="text-decoration-none text-primary" href="/player/{{ play['player_id'] }}">{{ play['player_name'] }}</a></strong> 
                      {% if play['player_name'] != 'TECHNICAL' %} · Play: {{ play['player_total_plays'] }} {% endif %}
                    </h6>
                    <p class="card-text">{{ play['play_info'] }} {% if play['fastbreak'] == 1 %} · Fastbreak {% endif %} {% if play['second_chance'] == 1 %} · Second Chance {% endif %} {% if play['points_off_turnover'] == 1 %} · Points Off Turnover {% endif %}</p>
                  </div>
                </div>
                <div class="flex-grow-1 d-flex align-items-center">
                  <hr class="w-100 my-0">
                  {% if play['points'] and play['points'] > 0 %}
                    <div class="d-flex flex-column align-items-center justify-content-center">
                      <h3 class="mx-3"><span class="badge text-bg-secondary shadow">{{ play['minute'] }}:00</span></h3>
                      <h1 class="mx-3"><span class="badge text-bg-primary shadow-lg">{{ play['points_a'] }} - {{ play['points_b'] }}</span></h3>
                    </div>
                  {% else %}
                    <h3 class="mx-3"><span class="badge text-bg-secondary shadow">{{ play['minute'] }}:00</span></h3>
                  {% endif %}
                  <div class="w-100 my-0"></div>
                </div>
                <h4 style="width: 25%;"></h4>
              </div>
            {% elif play['team_id'] == match['team_id_b'] %}
              <div class="d-flex justify-content-around align-items-center mb-3">
                <h4 style="width: 25%;"></h4>
                <div class="flex-grow-1 d-flex align-items-center">
                  <div class="w-100 my-0"></div>
                  {% if play['points'] and play['points'] > 0 %}
                    <div class="d-flex flex-column align-items-center justify-content-center">
                      <h3 class="mx-3"><span class="badge text-bg-secondary shadow">{{ play['minute'] }}:00</span></h3>
                      <h1 class="mx-3"><span class="badge text-bg-danger shadow-lg">{{ play['points_a'] }} - {{ play['points_b'] }}</span></h3>
                    </div>
                  {% else %}
                    <h3 class="mx-3"><span class="badge text-bg-secondary shadow">{{ play['minute'] }}:00</span></h3>
                  {% endif %}
                  <hr class="w-100 my-0">
                </div>
                <div class="card shadow-sm" style="width: 25%;">
                  <h6 class="card-header fw-bold text-bg-danger"><a class="text-decoration-none text-light" href="/team/{{ play['team_id'] }}/{{ match['season_code'] }}">{{ play['team_name'] }}</a></h6>
                  {% if play['points'] and play['points'] > 0 %}
                  <div class="card-body text-bg-warning">
                  {% else %}
                  <div class="card-body">
                  {% endif %}
                    <h6 class="card-subtitle mb-2 text-body-secondary">
                      <strong><a class="text-decoration-none text-danger" href="/player/{{ play['player_id'] }}">{{ play['player_name'] }}</a></strong> 
                      {% if play['player_name'] != 'TECHNICAL' %} · Play: {{ play['player_total_plays'] }} {% endif %}
                    </h6>
                    <p class="card-text">{{ play['play_info'] }} {% if play['fastbreak'] == 1 %} · Fastbreak {% endif %} {% if play['second_chance'] == 1 %} · Second Chance {% endif %} {% if play['points_off_turnover'] == 1 %} · Points Off Turnover {% endif %}</p>
                  </div>
                </div>
              </div>
            {% elif play['play_info'] == 'End Period' %}
              <div class="d-flex justify-content-center align-items-center mb-3">
                <hr class="w-100 my-0">
                <h3 class="mx-3"><span class="badge text-bg-warning shadow-lg">{{ play['minute'] }}:00<br/>END OF {{ play['quarter_detailed'] }}</span></h3>
                <hr class="w-100 my-0">
              </div>
            {% elif play['play_info'] == 'Begin Period' %}
              <div class="d-flex justify-content-center align-items-center mb-3">
                <hr class="w-100 my-0">
                <h3 class="mx-3"><span class="badge text-bg-warning shadow-lg">{{ play['minute'] }}:00<br/>START OF {{ play['quarter_detailed'] }}</span></h3>
                <hr class="w-100 my-0">
              </div>
            {% elif play['play_info'] == 'End Game' %}
              <div class="d-flex justify-content-center align-items-center mb-3">
                <hr class="w-100 my-0">
                <h3 class="mx-3"><span class="badge text-bg-warning shadow-lg">{{ play['minute'] }}:00<br/>END OF THE GAME</span></h3>
                <hr class="w-100 my-0">
              </div>
            {% endif %}
          {% endif %}
        {% endfor %}
      {% else %}
        <div class="d-flex justify-content-center align-items-center mb-2">
          <h3><span class="badge text-bg-warning shadow-sm">The match did not go into Quarter 3</span></h3>
        </div>
      {% endif %}
    </div>

    <!-- Quarter 4 Tab -->
    <div class="tab-pane fade" id="q4-content" role="tabpanel">
      {% if match['q4_exists'] == 1 %}
        {% for play in play_by_play %}
          {% if play['quarter'] == 'q4' %}
            {% if play['team_id'] == match['team_id_a'] %}
              <div class="d-flex justify-content-around align-items-center mb-3">
                <div class="card shadow-sm" style="width: 25%;">
                  <h6 class="card-header fw-bold text-bg-primary"><a class="text-decoration-none text-light" href="/team/{{ play['team_id'] }}/{{ match['season_code'] }}">{{ play['team_name'] }}</a></h6>
                  {% if play['points'] and play['points'] > 0 %}
                  <div class="card-body text-bg-warning">
                  {% else %}
                  <div class="card-body">
                  {% endif %}
                    <h6 class="card-subtitle mb-2 text-body-secondary">
                      <strong><a class="text-decoration-none text-primary" href="/player/{{ play['player_id'] }}">{{ play['player_name'] }}</a></strong> 
                      {% if play['player_name'] != 'TECHNICAL' %} · Play: {{ play['player_total_plays'] }} {% endif %}
                    </h6>
                    <p class="card-text">{{ play['play_info'] }} {% if play['fastbreak'] == 1 %} · Fastbreak {% endif %} {% if play['second_chance'] == 1 %} · Second Chance {% endif %} {% if play['points_off_turnover'] == 1 %} · Points Off Turnover {% endif %}</p>
                  </div>
                </div>
                <div class="flex-grow-1 d-flex align-items-center">
                  <hr class="w-100 my-0">
                  {% if play['points'] and play['points'] > 0 %}
                    <div class="d-flex flex-column align-items-center justify-content-center">
                      <h3 class="mx-3"><span class="badge text-bg-secondary shadow">{{ play['minute'] }}:00</span></h3>
                      <h1 class="mx-3"><span class="badge text-bg-primary shadow-lg">{{ play['points_a'] }} - {{ play['points_b'] }}</span></h3>
                    </div>
                  {% else %}
                    <h3 class="mx-3"><span class="badge text-bg-secondary shadow">{{ play['minute'] }}:00</span></h3>
                  {% endif %}
                  <div class="w-100 my-0"></div>
                </div>
                <h4 style="width: 25%;"></h4>
              </div>
            {% elif play['team_id'] == match['team_id_b'] %}
              <div class="d-flex justify-content-around align-items-center mb-3">
                <h4 style="width: 25%;"></h4>
                <div class="flex-grow-1 d-flex align-items-center">
                  <div class="w-100 my-0"></div>
                  {% if play['points'] and play['points'] > 0 %}
                    <div class="d-flex flex-column align-items-center justify-content-center">
                      <h3 class="mx-3"><span class="badge text-bg-secondary shadow">{{ play['minute'] }}:00</span></h3>
                      <h1 class="mx-3"><span class="badge text-bg-danger shadow-lg">{{ play['points_a'] }} - {{ play['points_b'] }}</span></h3>
                    </div>
                  {% else %}
                    <h3 class="mx-3"><span class="badge text-bg-secondary shadow">{{ play['minute'] }}:00</span></h3>
                  {% endif %}
                  <hr class="w-100 my-0">
                </div>
                <div class="card shadow-sm" style="width: 25%;">
                  <h6 class="card-header fw-bold text-bg-danger"><a class="text-decoration-none text-light" href="/team/{{ play['team_id'] }}/{{ match['season_code'] }}">{{ play['team_name'] }}</a></h6>
                  {% if play['points'] and play['points'] > 0 %}
                  <div class="card-body text-bg-warning">
                  {% else %}
                  <div class="card-body">
                  {% endif %}
                    <h6 class="card-subtitle mb-2 text-body-secondary">
                      <strong><a class="text-decoration-none text-danger" href="/player/{{ play['player_id'] }}">{{ play['player_name'] }}</a></strong> 
                      {% if play['player_name'] != 'TECHNICAL' %} · Play: {{ play['player_total_plays'] }} {% endif %}
                    </h6>
                    <p class="card-text">{{ play['play_info'] }} {% if play['fastbreak'] == 1 %} · Fastbreak {% endif %} {% if play['second_chance'] == 1 %} · Second Chance {% endif %} {% if play['points_off_turnover'] == 1 %} · Points Off Turnover {% endif %}</p>
                  </div>
                </div>
              </div>
            {% elif play['play_info'] == 'End Period' %}
              <div class="d-flex justify-content-center align-items-center mb-3">
                <hr class="w-100 my-0">
                <h3 class="mx-3"><span class="badge text-bg-warning shadow-lg">{{ play['minute'] }}:00<br/>END OF {{ play['quarter_detailed'] }}</span></h3>
                <hr class="w-100 my-0">
              </div>
            {% elif play['play_info'] == 'Begin Period' %}
              <div class="d-flex justify-content-center align-items-center mb-3">
                <hr class="w-100 my-0">
                <h3 class="mx-3"><span class="badge text-bg-warning shadow-lg">{{ play['minute'] }}:00<br/>START OF {{ play['quarter_detailed'] }}</span></h3>
                <hr class="w-100 my-0">
              </div>
            {% elif play['play_info'] == 'End Game' %}
              <div class="d-flex justify-content-center align-items-center mb-3">
                <hr class="w-100 my-0">
                <h3 class="mx-3"><span class="badge text-bg-warning shadow-lg">{{ play['minute'] }}:00<br/>END OF THE GAME</span></h3>
                <hr class="w-100 my-0">
              </div>
            {% endif %}
          {% endif %}
        {% endfor %}
      {% else %}
        <div class="d-flex justify-content-center align-items-center mb-2">
          <h3><span class="badge text-bg-warning shadow-sm">The match did not go into Quarter 4</span></h3>
        </div>
      {% endif %}
    </div>

    <!-- Overtime Tab -->
    <div class="tab-pane fade" id="ot-content" role="tabpanel">
      {% if match['extra_time_exists'] == 1 %}
        {% for play in play_by_play %}
          {% if play['quarter'] == 'extra_time' %}
            {% if play['team_id'] == match['team_id_a'] %}
              <div class="d-flex justify-content-around align-items-center mb-3">
                <div class="card shadow-sm" style="width: 25%;">
                  <h6 class="card-header fw-bold text-bg-primary"><a class="text-decoration-none text-light" href="/team/{{ play['team_id'] }}/{{ match['season_code'] }}">{{ play['team_name'] }}</a></h6>
                  {% if play['points'] and play['points'] > 0 %}
                  <div class="card-body text-bg-warning">
                  {% else %}
                  <div class="card-body">
                  {% endif %}
                    <h6 class="card-subtitle mb-2 text-body-secondary">
                      <strong><a class="text-decoration-none text-primary" href="/player/{{ play['player_id'] }}">{{ play['player_name'] }}</a></strong> 
                      {% if play['player_name'] != 'TECHNICAL' %} · Play: {{ play['player_total_plays'] }} {% endif %}
                    </h6>
                    <p class="card-text">{{ play['play_info'] }} {% if play['fastbreak'] == 1 %} · Fastbreak {% endif %} {% if play['second_chance'] == 1 %} · Second Chance {% endif %} {% if play['points_off_turnover'] == 1 %} · Points Off Turnover {% endif %}</p>
                  </div>
                </div>
                <div class="flex-grow-1 d-flex align-items-center">
                  <hr class="w-100 my-0">
                  {% if play['points'] and play['points'] > 0 %}
                    <div class="d-flex flex-column align-items-center justify-content-center">
                      <h3 class="mx-3"><span class="badge text-bg-secondary shadow">{{ play['minute'] }}:00</span></h3>
                      <h1 class="mx-3"><span class="badge text-bg-primary shadow-lg">{{ play['points_a'] }} - {{ play['points_b'] }}</span></h1>
                    </div>
                  {% else %}
                    <h3 class="mx-3"><span class="badge text-bg-secondary shadow">{{ play['minute'] }}:00</span></h3>
                  {% endif %}
                  <div class="w-100 my-0"></div>
                </div>
                <h4 style="width: 25%;"></h4>
              </div>
            {% elif play['team_id'] == match['team_id_b'] %}
              <div class="d-flex justify-content-around align-items-center mb-3">
                <h4 style="width: 25%;"></h4>
                <div class="flex-grow-1 d-flex align-items-center">
                  <div class="w-100 my-0"></div>
                  {% if play['points'] and play['points'] > 0 %}
                    <div class="d-flex flex-column align-items-center justify-content-center">
                      <h3 class="mx-3"><span class="badge text-bg-secondary shadow">{{ play['minute'] }}:00</span></h3>
                      <h1 class="mx-3"><span class="badge text-bg-danger shadow-lg">{{ play['points_a'] }} - {{ play['points_b'] }}</span></h1>
                    </div>
                  {% else %}
                    <h3 class="mx-3"><span class="badge text-bg-secondary shadow">{{ play['minute'] }}:00</span></h3>
                  {% endif %}
                  <hr class="w-100 my-0">
                </div>
                <div class="card shadow-sm" style="width: 25%;">
                  <h6 class="card-header fw-bold text-bg-danger"><a class="text-decoration-none text-light" href="/team/{{ play['team_id'] }}/{{ match['season_code'] }}">{{ play['team_name'] }}</a></h6>
                  {% if play['points'] and play['points'] > 0 %}
                  <div class="card-body text-bg-warning">
                  {% else %}
                  <div class="card-body">
                  {% endif %}
                    <h6 class="card-subtitle mb-2 text-body-secondary">
                      <strong><a class="text-decoration-none text-danger" href="/player/{{ play['player_id'] }}">{{ play['player_name'] }}</a></strong> 
                      {% if play['player_name'] != 'TECHNICAL' %} · Play: {{ play['player_total_plays'] }} {% endif %}
                    </h6>
                    <p class="card-text">{{ play['play_info'] }} {% if play['fastbreak'] == 1 %} · Fastbreak {% endif %} {% if play['second_chance'] == 1 %} · Second Chance {% endif %} {% if play['points_off_turnover'] == 1 %} · Points Off Turnover {% endif %}</p>
                  </div>
                </div>
              </div>
            {% elif play['play_info'] == 'End Period' %}
              <div class="d-flex justify-content-center align-items-center mb-3">
                <hr class="w-100 my-0">
                <h3 class="mx-3"><span class="badge text-bg-warning shadow-lg">{{ play['minute'] }}:00<br/>END OF {{ play['quarter_detailed'] }}</span></h3>
                <hr class="w-100 my-0">
              </div>
            {% elif play['play_info'] == 'Begin Period' %}
              <div class="d-flex justify-content-center align-items-center mb-3">
                <hr class="w-100 my-0">
                <h3 class="mx-3"><span class="badge text-bg-warning shadow-lg">{{ play['minute'] }}:00<br/>START OF {{ play['quarter_detailed'] }}</span></h3>
                <hr class="w-100 my-0">
              </div>
            {% elif play['play_info'] == 'End Game' %}
              <div class="d-flex justify-content-center align-items-center mb-3">
                <hr class="w-100 my-0">
                <h3 class="mx-3"><span class="badge text-bg-warning shadow-lg">{{ play['minute'] }}:00<br/>END OF THE GAME</span></h3>
                <hr class="w-100 my-0">
              </div>
            {% endif %}
          {% endif %}
        {% endfor %}
      {% else %}
        <div class="d-flex justify-content-center align-items-center mb-2">
          <h3><span class="badge text-bg-warning shadow-sm">The match did not go into Overtime</span></h3>
        </div>
      {% endif %}
    </div>
  </div>
</div>
{% endblock %}
