{% extends "layout.html" %}

{% block title %}{{ match['game_id'] }}{% endblock %}

{% block content %}
<div class="container bg-light shadow rounded p-3">
  <div class="d-flex justify-content-center mb-3">
    <span class="badge bg-secondary">{{ match['date'] }} · {{ match['time'] }} · {{ match['stadium'] }} · Attendance: {{ match['capacity'] }}</span>
  </div>
  <div class="d-flex justify-content-around align-items-center mb-5">
    {% if match['team_id_a'] == session['team_supported'] %}
    <h1 class="supported-team-hl fw-bold text-center" style="width: 25%;">
      <a class="text-decoration-none text-light" href="/team/{{ match['team_id_a'] }}/{{ match['season_code'] }}">⭐ {{ match['team_a'] }}</a>
    </h1>
    {% else %}
    <h1 class="text-center" style="width: 25%;">
      <a class="text-decoration-none text-black" href="/team/{{ match['team_id_a'] }}/{{ match['season_code'] }}">{{ match['team_a'] }}</a>
    </h1>
    {% endif %}
    <div class="d-flex flex-column justify-content-center align-items-center">
      <div class="d-flex text-center flex-grow-1">
        {% if match['score_a'] > match['score_b'] %}
        <h1 class="text-primary display-2 mt-1 mb-0">{{ match['score_a'] }}&nbsp;</h1>
        <h1 class="display-2 mt-1 mb-0">-&nbsp;{{ match['score_b'] }}</h1>
        {% elif match['score_b'] > match['score_a'] %}
        <h1 class="display-2 mt-1 mb-0">{{ match['score_a'] }}&nbsp;-</h1>
        <h1 class="text-danger display-2 mt-1 mb-0">&nbsp;{{ match['score_b'] }}</h1>
        {% else %}
        <h1 class="display-2 mt-1 mb-0">{{ match['score_a'] }}&nbsp;-&nbsp;{{ match['score_b'] }}</h1>
        {% endif %}
      </div>
      <span class="badge bg-primary">Round {{ match['round'] }} · {{ match['phase'] }}</span>
    </div>
    {% if match['team_id_b'] == session['team_supported'] %}
    <h1 class="supported-team-hl fw-bold text-center" style="width: 25%;">
      <a class="text-decoration-none text-light" href="/team/{{ match['team_id_b'] }}/{{ match['season_code'] }}">{{ match['team_b'] }} ⭐</a>
    </h1>
    {% else %}
    <h1 class="text-center" style="width: 25%;">
      <a class="text-decoration-none text-black" href="/team/{{ match['team_id_b'] }}/{{ match['season_code'] }}">{{ match['team_b'] }}</a>
    </h1>
    {% endif %}
  </div>

  <div class="d-flex justify-content-center mt-5 mb-2">
    <ul class="nav nav-tabs" role="tablist">
      <li class="nav-item" role="presentation">
        <button class="nav-link active" id="details-tab" data-bs-toggle="tab" data-bs-target="#details-tab-content" type="button" role="tab">Details</button>
      </li>
      <li class="nav-item" role="presentation">
        <button class="nav-link" id="comparison-tab" data-bs-toggle="tab" data-bs-target="#comparison-tab-content" type="button" role="tab">Comparison</button>
      </li>
      <li class="nav-item" role="presentation">
        <button class="nav-link" id="box-score-tab" data-bs-toggle="tab" data-bs-target="#box-score-tab-content" type="button" role="tab">Box Score</button>
      </li>
      <li class="nav-item" role="presentation">
        <button class="nav-link" id="play-tab" data-bs-toggle="tab" data-bs-target="#play-tab-content" type="button" role="tab">Play by Play</button>
      </li>
    </ul>
  </div>
  
  <div class="tab-content p-4">
    <!-- Match Details Tab -->
    <div class="tab-pane fade show active" id="details-tab-content" role="tabpanel" tabindex="0">
      <div class="card shadow mb-5">
        <div class="card-header bg-success text-white">
          <h4 class="mb-0"><i class="bi bi-bar-chart"></i> Scores by Quarter</h4>
        </div>
        <div class="card-body">
          <div class="table-responsive">
            <table class="table table-bordered text-center">
              <thead class="table-dark">
                <tr>
                  <th class="col-4">{{ match['team_a'] }}</th>
                  <th>Quarter</th>
                  <th class="col-4">{{ match['team_b'] }}</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  {% if match['score_quarter_1_a'] > match['score_quarter_1_b'] %}
                    <td class="table-primary"><strong>{{ match['score_quarter_1_a'] }}</strong></td>
                    <td><strong>Quarter 1</strong></td>
                    <td>{{ match['score_quarter_1_b'] }}</td>
                  {% elif match['score_quarter_1_b'] > match['score_quarter_1_a'] %}
                    <td>{{ match['score_quarter_1_a'] }}</td>
                    <td><strong>Quarter 1</strong></td>
                    <td class="table-danger"><strong>{{ match['score_quarter_1_b'] }}</strong></td>
                  {% else %}
                    <td>{{ match['score_quarter_1_a'] }}</td>
                    <td><strong>Quarter 1</strong></td>
                    <td>{{ match['score_quarter_1_b'] }}</td>
                  {% endif %}
                </tr>
                <tr>
                  {% if match['score_quarter_2_a'] > match['score_quarter_2_b'] %}
                    <td class="table-primary"><strong>{{ match['score_quarter_2_a'] }}</strong></td>
                    <td><strong>Quarter 2</strong></td>
                    <td>{{ match['score_quarter_2_b'] }}</td>
                  {% elif match['score_quarter_2_b'] > match['score_quarter_2_a'] %}
                    <td>{{ match['score_quarter_2_a'] }}</td>
                    <td><strong>Quarter 2</strong></td>
                    <td class="table-danger"><strong>{{ match['score_quarter_2_b'] }}</strong></td>
                  {% else %}
                    <td>{{ match['score_quarter_2_a'] }}</td>
                    <td><strong>Quarter 2</strong></td>
                    <td>{{ match['score_quarter_2_b'] }}</td>
                  {% endif %}
                </tr>
                <tr>
                  {% if match['score_quarter_3_a'] > match['score_quarter_3_b'] %}
                    <td class="table-primary"><strong>{{ match['score_quarter_3_a'] }}</strong></td>
                    <td><strong>Quarter 3</strong></td>
                    <td>{{ match['score_quarter_3_b'] }}</td>
                  {% elif match['score_quarter_3_b'] > match['score_quarter_3_a'] %}
                    <td>{{ match['score_quarter_3_a'] }}</td>
                    <td><strong>Quarter 3</strong></td>
                    <td class="table-danger"><strong>{{ match['score_quarter_3_b'] }}</strong></td>
                  {% else %}
                    <td>{{ match['score_quarter_3_a'] }}</td>
                    <td><strong>Quarter 3</strong></td>
                    <td>{{ match['score_quarter_3_b'] }}</td>
                  {% endif %}
                </tr>
                <tr>
                  {% if match['score_quarter_4_a'] > match['score_quarter_4_b'] %}
                    <td class="table-primary"><strong>{{ match['score_quarter_4_a'] }}</strong></td>
                    <td><strong>Quarter 4</strong></td>
                    <td>{{ match['score_quarter_4_b'] }}</td>
                  {% elif match['score_quarter_4_b'] > match['score_quarter_4_a'] %}
                    <td>{{ match['score_quarter_4_a'] }}</td>
                    <td><strong>Quarter 4</strong></td>
                    <td class="table-danger"><strong>{{ match['score_quarter_4_b'] }}</strong></td>
                  {% else %}
                    <td>{{ match['score_quarter_4_a'] }}</td>
                    <td><strong>Quarter 4</strong></td>
                    <td>{{ match['score_quarter_4_b'] }}</td>
                  {% endif %}
                </tr>
                {% if match['score_extra_time_1_a'] is not none %}
                <tr>
                  {% if match['score_extra_time_1_a'] > match['score_extra_time_1_b'] %}
                    <td class="table-primary"><strong>{{ match['score_extra_time_1_a'] }}</strong></td>
                    <td><strong>Overtime 1</strong></td>
                    <td>{{ match['score_extra_time_1_b'] }}</td>
                  {% elif match['score_extra_time_1_b'] > match['score_extra_time_1_a'] %}
                    <td>{{ match['score_extra_time_1_a'] }}</td>
                    <td><strong>Overtime 1</strong></td>
                    <td class="table-danger"><strong>{{ match['score_extra_time_1_b'] }}</strong></td>
                  {% else %}
                    <td>{{ match['score_extra_time_1_a'] }}</td>
                    <td><strong>Overtime 1</strong></td>
                    <td>{{ match['score_extra_time_1_b'] }}</td>
                  {% endif %}
                </tr>
                {% endif %}
                {% if match['score_extra_time_2_a'] is not none %}
                <tr>
                  {% if match['score_extra_time_2_a'] > match['score_extra_time_2_b'] %}
                    <td class="table-primary"><strong>{{ match['score_extra_time_2_a'] }}</strong></td>
                    <td><strong>Overtime 2</strong></td>
                    <td>{{ match['score_extra_time_2_b'] }}</td>
                  {% elif match['score_extra_time_2_b'] > match['score_extra_time_2_a'] %}
                    <td>{{ match['score_extra_time_2_a'] }}</td>
                    <td><strong>Overtime 2</strong></td>
                    <td class="table-danger"><strong>{{ match['score_extra_time_2_b'] }}</strong></td>
                  {% else %}
                    <td>{{ match['score_extra_time_2_a'] }}</td>
                    <td><strong>Overtime 2</strong></td>
                    <td>{{ match['score_extra_time_2_b'] }}</td>
                  {% endif %}
                </tr>
                {% endif %}
                {% if match['score_extra_time_3_a'] is not none %}
                <tr>
                  {% if match['score_extra_time_3_a'] > match['score_extra_time_3_b'] %}
                    <td class="table-primary"><strong>{{ match['score_extra_time_3_a'] }}</strong></td>
                    <td><strong>Overtime 3</strong></td>
                    <td>{{ match['score_extra_time_3_b'] }}</td>
                  {% elif match['score_extra_time_3_b'] > match['score_extra_time_3_a'] %}
                    <td>{{ match['score_extra_time_3_a'] }}</td>
                    <td><strong>Overtime 3</strong></td>
                    <td class="table-danger"><strong>{{ match['score_extra_time_3_b'] }}</strong></td>
                  {% else %}
                    <td>{{ match['score_extra_time_3_a'] }}</td>
                    <td><strong>Overtime 3</strong></td>
                    <td>{{ match['score_extra_time_3_b'] }}</td>
                  {% endif %}
                </tr>
                {% endif %}
                {% if match['score_extra_time_4_a'] is not none %}
                <tr>
                  {% if match['score_extra_time_4_a'] > match['score_extra_time_4_b'] %}
                    <td class="table-primary"><strong>{{ match['score_extra_time_4_a'] }}</strong></td>
                    <td><strong>Overtime 4</strong></td>
                    <td>{{ match['score_extra_time_4_b'] }}</td>
                  {% elif match['score_extra_time_4_b'] > match['score_extra_time_4_a'] %}
                    <td>{{ match['score_extra_time_4_a'] }}</td>
                    <td><strong>Overtime 4</strong></td>
                    <td class="table-danger"><strong>{{ match['score_extra_time_4_b'] }}</strong></td>
                  {% else %}
                    <td>{{ match['score_extra_time_4_a'] }}</td>
                    <td><strong>Overtime 4</strong></td>
                    <td>{{ match['score_extra_time_4_b'] }}</td>
                  {% endif %}
                </tr>
                {% endif %}
              </tbody>              
            </table>
          </div>
        </div>
      </div>

      <div class="row mb-5 d-flex align-items-stretch">
        <div class="col-4">
          <div class="card shadow h-100">
            <div class="card-header bg-primary text-white">
              <h4 class="mb-0"><i class="bi bi-people-fill"></i> Referees</h4>
            </div>
            <div class="card-body">
              <ul class="list-group list-group-flush">
                <li class="list-group-item"><strong>Referee 1:</strong> {{ match['referee_1'] }}</li>
                <li class="list-group-item"><strong>Referee 2:</strong> {{ match['referee_2'] }}</li>
                <li class="list-group-item"><strong>Referee 3:</strong> {{ match['referee_3'] }}</li>
              </ul>
            </div>
          </div>
        </div>
        <div class="col-4">
          <div class="card shadow h-100">
            <div class="card-header bg-warning text-dark">
              <h4 class="mb-0"><i class="bi bi-clock-history"></i> Timeouts</h4>
            </div>
            <div class="card-body">
              <ul class="list-group list-group-flush">
                <li class="list-group-item"><strong>{{ match['team_a'] }}:</strong> {{ match['timeouts_a'] }}</li>
                <li class="list-group-item"><strong>{{ match['team_b'] }}:</strong> {{ match['timeouts_b'] }}</li>
              </ul>
            </div>
          </div>
        </div>
        <div class="col-4">
          <div class="card shadow h-100">
            <div class="card-header bg-danger text-white">
              <h4 class="mb-0"><i class="bi bi-person-x-fill"></i> Fouls</h4>
            </div>
            <div class="card-body">
              <ul class="list-group list-group-flush">
                <li class="list-group-item"><strong>{{ match['team_a'] }}:</strong> {{ match['fouls_a'] }}</li>
                <li class="list-group-item"><strong>{{ match['team_b'] }}:</strong> {{ match['fouls_b'] }}</li>
              </ul>
            </div>
          </div>
        </div>
      </div>

      <div class="card mb-4 shadow">
        <div class="card-header bg-secondary text-white">
          <h4 class="mb-0"><i class="bi bi-info-square-fill"></i> Other Details</h4>
        </div>
        <div class="card-body px-4">
          <ul class="list-group list-group-flush">
            <li class="list-group-item"><strong>Date and Time:</strong> {{ match['date'] }} · {{ match['time'] }}</li>
            <li class="list-group-item"><strong>Season:</strong> {{ match['season_code'] }}</li>
            <li class="list-group-item"><strong>Phase:</strong> {{ match['phase'] }} (Round: {{ match['round'] }})</li>
            <li class="list-group-item"><strong>Total Game Time:</strong> {{ match['game_time'] }}</li>
            <li class="list-group-item"><strong>Remaining Partial Time:</strong> {{ match['remaining_partial_time'] }}</li>
            <li class="list-group-item"><strong>Stadium:</strong> {{ match['stadium'] }} (Attendance: {{ match['capacity'] }})</li>
          </ul>
        </div>
      </div>
    </div>

    <!-- Comparison Tab -->
    <div class="tab-pane fade" id="comparison-tab-content" role="tabpanel" tabindex="1">
      <div class="table-responsive">
        <table class="table table-bordered text-center">
          <thead class="table-dark">
            <tr>
              <th class="col-4">{{ match['team_a'] }}</th>
              <th>VS</th>
              <th class="col-4">{{ match['team_b'] }}</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              {% if comparison['fast_break_points_a'] > comparison['fast_break_points_b'] %}
                <td class="table-primary"><strong>{{ comparison['fast_break_points_a'] }}</strong></td>
                <td><strong>Fast Break Points</strong></td>
                <td>{{ comparison['fast_break_points_b'] }}</td>
              {% elif comparison['fast_break_points_b'] > comparison['fast_break_points_a'] %}
                <td>{{ comparison['fast_break_points_a'] }}</td>
                <td><strong>Fast Break Points</strong></td>
                <td class="table-danger"><strong>{{ comparison['fast_break_points_b'] }}</strong></td>
              {% else %}
                <td>{{ comparison['fast_break_points_a'] }}</td>
                <td><strong>Fast Break Points</strong></td>
                <td>{{ comparison['fast_break_points_b'] }}</td>
              {% endif %}
            </tr>
            <tr>
              {% if comparison['turnover_points_a'] > comparison['turnover_points_b'] %}
                <td class="table-primary"><strong>{{ comparison['turnover_points_a'] }}</strong></td>
                <td><strong>Turnover Points</strong></td>
                <td>{{ comparison['turnover_points_b'] }}</td>
              {% elif comparison['turnover_points_b'] > comparison['turnover_points_a'] %}
                <td>{{ comparison['turnover_points_a'] }}</td>
                <td><strong>Turnover Points</strong></td>
                <td class="table-danger"><strong>{{ comparison['turnover_points_b'] }}</strong></td>
              {% else %}
                <td>{{ comparison['turnover_points_a'] }}</td>
                <td><strong>Turnover Points</strong></td>
                <td>{{ comparison['turnover_points_b'] }}</td>
              {% endif %}
            </tr>
            <tr>
              {% if comparison['second_chance_points_a'] > comparison['second_chance_points_b'] %}
                <td class="table-primary"><strong>{{ comparison['second_chance_points_a'] }}</strong></td>
                <td><strong>Second Chance Points</strong></td>
                <td>{{ comparison['second_chance_points_b'] }}</td>
              {% elif comparison['second_chance_points_b'] > comparison['second_chance_points_a'] %}
                <td>{{ comparison['second_chance_points_a'] }}</td>
                <td><strong>Second Chance Points</strong></td>
                <td class="table-danger"><strong>{{ comparison['second_chance_points_b'] }}</strong></td>
              {% else %}
                <td>{{ comparison['second_chance_points_a'] }}</td>
                <td><strong>Second Chance Points</strong></td>
                <td>{{ comparison['second_chance_points_b'] }}</td>
              {% endif %}
            </tr>
            <tr>
              {% if comparison['defensive_rebounds_a'] + comparison['offensive_rebounds_a'] > comparison['defensive_rebounds_b'] + comparison['offensive_rebounds_b'] %}
                <td class="table-primary"><strong>{{ comparison['defensive_rebounds_a'] + comparison['offensive_rebounds_a'] }}</strong></td>
                <td><strong>Rebounds</strong></td>
                <td>{{ comparison['defensive_rebounds_b'] + comparison['offensive_rebounds_b'] }}</td>
              {% elif comparison['defensive_rebounds_b'] + comparison['offensive_rebounds_b'] > comparison['defensive_rebounds_a'] + comparison['offensive_rebounds_a'] %}
                <td>{{ comparison['defensive_rebounds_a'] + comparison['offensive_rebounds_a'] }}</td>
                <td><strong>Rebounds</strong></td>
                <td class="table-danger"><strong>{{ comparison['defensive_rebounds_b'] + comparison['offensive_rebounds_b'] }}</strong></td>
              {% else %}
                <td>{{ comparison['defensive_rebounds_a'] + comparison['offensive_rebounds_a'] }}</td>
                <td><strong>Rebounds</strong></td>
                <td>{{ comparison['defensive_rebounds_b'] + comparison['offensive_rebounds_b'] }}</td>
              {% endif %}
            </tr>
            <tr>
              {% if comparison['turnovers_starters_a'] > comparison['turnovers_starters_b'] %}
                <td class="table-primary"><strong>{{ comparison['turnovers_starters_a'] }}</strong></td>
                <td><strong>Turnovers (Starters)</strong></td>
                <td>{{ comparison['turnovers_starters_b'] }}</td>
              {% elif comparison['turnovers_starters_b'] > comparison['turnovers_starters_a'] %}
                <td>{{ comparison['turnovers_starters_a'] }}</td>
                <td><strong>Turnovers (Starters)</strong></td>
                <td class="table-danger"><strong>{{ comparison['turnovers_starters_b'] }}</strong></td>
              {% else %}
                <td>{{ comparison['turnovers_starters_a'] }}</td>
                <td><strong>Turnovers (Starters)</strong></td>
                <td>{{ comparison['turnovers_starters_b'] }}</td>
              {% endif %}
            </tr>
            <tr>
              {% if comparison['turnovers_bench_a'] > comparison['turnovers_bench_b'] %}
                <td class="table-primary"><strong>{{ comparison['turnovers_bench_a'] }}</strong></td>
                <td><strong>Turnovers (Bench)</strong></td>
                <td>{{ comparison['turnovers_bench_b'] }}</td>
              {% elif comparison['turnovers_bench_b'] > comparison['turnovers_bench_a'] %}
                <td>{{ comparison['turnovers_bench_a'] }}</td>
                <td><strong>Turnovers (Bench)</strong></td>
                <td class="table-danger"><strong>{{ comparison['turnovers_bench_b'] }}</strong></td>
              {% else %}
                <td>{{ comparison['turnovers_bench_a'] }}</td>
                <td><strong>Turnovers (Bench)</strong></td>
                <td>{{ comparison['turnovers_bench_b'] }}</td>
              {% endif %}
            </tr>
            <tr>
              {% if comparison['steals_starters_a'] > comparison['steals_starters_b'] %}
                <td class="table-primary"><strong>{{ comparison['steals_starters_a'] }}</strong></td>
                <td><strong>Steals (Starters)</strong></td>
                <td>{{ comparison['steals_starters_b'] }}</td>
              {% elif comparison['steals_starters_b'] > comparison['steals_starters_a'] %}
                <td>{{ comparison['steals_starters_a'] }}</td>
                <td><strong>Steals (Starters)</strong></td>
                <td class="table-danger"><strong>{{ comparison['steals_starters_b'] }}</strong></td>
              {% else %}
                <td>{{ comparison['steals_starters_a'] }}</td>
                <td><strong>Steals (Starters)</strong></td>
                <td>{{ comparison['steals_starters_b'] }}</td>
              {% endif %}
            </tr>
            <tr>
              {% if comparison['steals_bench_a'] > comparison['steals_bench_b'] %}
                <td class="table-primary"><strong>{{ comparison['steals_bench_a'] }}</strong></td>
                <td><strong>Steals (Bench)</strong></td>
                <td>{{ comparison['steals_bench_b'] }}</td>
              {% elif comparison['steals_bench_b'] > comparison['steals_bench_a'] %}
                <td>{{ comparison['steals_bench_a'] }}</td>
                <td><strong>Steals (Bench)</strong></td>
                <td class="table-danger"><strong>{{ comparison['steals_bench_b'] }}</strong></td>
              {% else %}
                <td>{{ comparison['steals_bench_a'] }}</td>
                <td><strong>Steals (Bench)</strong></td>
                <td>{{ comparison['steals_bench_b'] }}</td>
              {% endif %}
            </tr>
            <tr>
              {% if comparison['assists_starters_a'] > comparison['assists_starters_b'] %}
                <td class="table-primary"><strong>{{ comparison['assists_starters_a'] }}</strong></td>
                <td><strong>Assists (Starters)</strong></td>
                <td>{{ comparison['assists_starters_b'] }}</td>
              {% elif comparison['assists_starters_b'] > comparison['assists_starters_a'] %}
                <td>{{ comparison['assists_starters_a'] }}</td>
                <td><strong>Assists (Starters)</strong></td>
                <td class="table-danger"><strong>{{ comparison['assists_starters_b'] }}</strong></td>
              {% else %}
                <td>{{ comparison['assists_starters_a'] }}</td>
                <td><strong>Assists (Starters)</strong></td>
                <td>{{ comparison['assists_starters_b'] }}</td>
              {% endif %}
            </tr>
            <tr>
              {% if comparison['assists_bench_a'] > comparison['assists_bench_b'] %}
                <td class="table-primary"><strong>{{ comparison['assists_bench_a'] }}</strong></td>
                <td><strong>Assists (Bench)</strong></td>
                <td>{{ comparison['assists_bench_b'] }}</td>
              {% elif comparison['assists_bench_b'] > comparison['assists_bench_a'] %}
                <td>{{ comparison['assists_bench_a'] }}</td>
                <td><strong>Assists (Bench)</strong></td>
                <td class="table-danger"><strong>{{ comparison['assists_bench_b'] }}</strong></td>
              {% else %}
                <td>{{ comparison['assists_bench_a'] }}</td>
                <td><strong>Assists (Bench)</strong></td>
                <td>{{ comparison['assists_bench_b'] }}</td>
              {% endif %}
            </tr>
            <tr>
              {% if comparison['points_starters_a'] > comparison['points_starters_b'] %}
                <td class="table-primary"><strong>{{ comparison['points_starters_a'] }}</strong></td>
                <td><strong>Points (Starters)</strong></td>
                <td>{{ comparison['points_starters_b'] }}</td>
              {% elif comparison['points_starters_b'] > comparison['points_starters_a'] %}
                <td>{{ comparison['points_starters_a'] }}</td>
                <td><strong>Points (Starters)</strong></td>
                <td class="table-danger"><strong>{{ comparison['points_starters_b'] }}</strong></td>
              {% else %}
                <td>{{ comparison['points_starters_a'] }}</td>
                <td><strong>Points (Starters)</strong></td>
                <td>{{ comparison['points_starters_b'] }}</td>
              {% endif %}
            </tr>
            <tr>
              {% if comparison['points_bench_a'] > comparison['points_bench_b'] %}
                <td class="table-primary"><strong>{{ comparison['points_bench_a'] }}</strong></td>
                <td><strong>Points (Bench)</strong></td>
                <td>{{ comparison['points_bench_b'] }}</td>
              {% elif comparison['points_bench_b'] > comparison['points_bench_a'] %}
                <td>{{ comparison['points_bench_a'] }}</td>
                <td><strong>Points (Bench)</strong></td>
                <td class="table-danger"><strong>{{ comparison['points_bench_b'] }}</strong></td>
              {% else %}
                <td>{{ comparison['points_bench_a'] }}</td>
                <td><strong>Points (Bench)</strong></td>
                <td>{{ comparison['points_bench_b'] }}</td>
              {% endif %}
            </tr>
            <tr>
              {% if comparison['max_lead_a'] > comparison['max_lead_b'] %}
                <td class="table-primary"><strong>{{ comparison['max_lead_a'] }}</strong></td>
                <td><strong>Max Points Lead</strong></td>
                <td>{{ comparison['max_lead_b'] }}</td>
              {% elif comparison['max_lead_b'] > comparison['max_lead_a'] %}
                <td>{{ comparison['max_lead_a'] }}</td>
                <td><strong>Max Points Lead</strong></td>
                <td class="table-danger"><strong>{{ comparison['max_lead_b'] }}</strong></td>
              {% else %}
                <td>{{ comparison['max_lead_a'] }}</td>
                <td><strong>Max Points Lead</strong></td>
                <td>{{ comparison['max_lead_b'] }}</td>
              {% endif %}
            </tr>
            <tr>
              {% if comparison['minute_max_lead_a'] > comparison['minute_max_lead_b'] %}
                <td class="table-primary"><strong>{{ comparison['minute_max_lead_a'] }}</strong></td>
                <td><strong>Max Minutes Lead</strong></td>
                <td>{{ comparison['minute_max_lead_b'] }}</td>
              {% elif comparison['minute_max_lead_b'] > comparison['minute_max_lead_a'] %}
                <td>{{ comparison['minute_max_lead_a'] }}</td>
                <td><strong>Max Minutes Lead</strong></td>
                <td class="table-danger"><strong>{{ comparison['minute_max_lead_b'] }}</strong></td>
              {% else %}
                <td>{{ comparison['minute_max_lead_a'] }}</td>
                <td><strong>Max Minutes Lead</strong></td>
                <td>{{ comparison['minute_max_lead_b'] }}</td>
              {% endif %}
            </tr>
          </tbody>          
        </table>
      </div>
    </div>

    <!-- Box Score Tab -->
    <div class="tab-pane fade" id="box-score-tab-content" role="tabpanel" tabindex="2">
      <div class="table-responsive mb-4">
        <table class="table table-striped table-hover box-score-table">
          <thead class="table-dark">
            <tr>
              <th>Dorsal</th>
              <th class="player-column">Player</th>
              <th>Starter</th>
              <th>Min</th>
              <th>PTS</th>
              <th>FG</th>
              <th>FGA</th>
              <th>3P</th>
              <th>3PA</th>
              <th>FT</th>
              <th>FTA</th>
              <th>ORB</th>
              <th>DRB</th>
              <th>TRB</th>
              <th>AST</th>
              <th>STL</th>
              <th>TOV</th>
              <th>BF</th>
              <th>BA</th>
              <th>FC</th>
              <th>FD</th>
              <th>PIR</th>
              <th>+/-</th>
            </tr>
          </thead>
          <tbody class="table-group-divider">
            {% for bx in box_score %}
              {% if bx['player_id'] == bx['team_id'] and bx['team_id'] == match['team_id_a'] %}
              <tr class="table-primary table-group-divider">
                <td></td>
                <td class="fw-bold player-column"><a class="nav-link" href="/team/{{ bx['team_id'] }}/{{ match['season_code'] }}">{{ bx['team_name'] }}</a></td>
                <td></td>
                <td>{{ bx['minutes'] }}</td>
                <td>{{ bx['points'] }}</td>
                <td>{{ bx['two_points_made'] }}</td>
                <td>{{ bx['two_points_attempted'] }}</td>
                <td>{{ bx['three_points_made'] }}</td>
                <td>{{ bx['three_points_attempted'] }}</td>
                <td>{{ bx['free_throws_made'] }}</td>
                <td>{{ bx['free_throws_attempted'] }}</td>
                <td>{{ bx['offensive_rebounds'] }}</td>
                <td>{{ bx['defensive_rebounds'] }}</td>
                <td>{{ bx['total_rebounds'] }}</td>
                <td>{{ bx['assists'] }}</td>
                <td>{{ bx['steals'] }}</td>
                <td>{{ bx['turnovers'] }}</td>
                <td>{{ bx['blocks_favour'] }}</td>
                <td>{{ bx['blocks_against'] }}</td>
                <td>{{ bx['fouls_committed'] }}</td>
                <td>{{ bx['fouls_received'] }}</td>
                <td>{{ bx['valuation'] }}</td>
                <td>{{ bx['plus_minus'] }}</td>
              </tr>
              {% elif bx['team_id'] == match['team_id_a'] %}
              <tr>
                <td>{{ bx['dorsal'] }}</td>
                <td class="player-column"><a class="nav-link" href="/player/{{ bx['player_id'] }}">{{ bx['player_name'] }}</a></td>
                <td>
                  {% if bx['is_starter'] == 1 %}
                    Yes
                  {% else %}
                    No
                  {% endif %}
                </td>
                <td>{{ bx['minutes'] }}</td>
                <td>{{ bx['points'] }}</td>
                <td>{{ bx['two_points_made'] }}</td>
                <td>{{ bx['two_points_attempted'] }}</td>
                <td>{{ bx['three_points_made'] }}</td>
                <td>{{ bx['three_points_attempted'] }}</td>
                <td>{{ bx['free_throws_made'] }}</td>
                <td>{{ bx['free_throws_attempted'] }}</td>
                <td>{{ bx['offensive_rebounds'] }}</td>
                <td>{{ bx['defensive_rebounds'] }}</td>
                <td>{{ bx['total_rebounds'] }}</td>
                <td>{{ bx['assists'] }}</td>
                <td>{{ bx['steals'] }}</td>
                <td>{{ bx['turnovers'] }}</td>
                <td>{{ bx['blocks_favour'] }}</td>
                <td>{{ bx['blocks_against'] }}</td>
                <td>{{ bx['fouls_committed'] }}</td>
                <td>{{ bx['fouls_received'] }}</td>
                <td>{{ bx['valuation'] }}</td>
                <td>{{ bx['plus_minus'] }}</td>
              </tr>
              {% endif %}
            {% endfor %}
          </tbody>
        </table>
      </div>

      <div class="table-responsive mb-4">
        <table class="table table-striped table-hover box-score-table">
          <thead class="table-dark">
            <tr>
              <th>Dorsal</th>
              <th class="player-column">Player</th>
              <th>Starter</th>
              <th>Min</th>
              <th>PTS</th>
              <th>FG</th>
              <th>FGA</th>
              <th>3P</th>
              <th>3PA</th>
              <th>FT</th>
              <th>FTA</th>
              <th>ORB</th>
              <th>DRB</th>
              <th>TRB</th>
              <th>AST</th>
              <th>STL</th>
              <th>TOV</th>
              <th>BF</th>
              <th>BA</th>
              <th>FC</th>
              <th>FD</th>
              <th>PIR</th>
              <th>+/-</th>
            </tr>
          </thead>
          <tbody class="table-group-divider">
            {% for bx in box_score %}
              {% if bx['player_id'] == bx['team_id'] and bx['team_id'] == match['team_id_b'] %}
              <tr class="table-danger table-group-divider">
                <td></td>
                <td class="fw-bold player-column"><a class="nav-link" href="/team/{{ bx['team_id'] }}/{{ match['season_code'] }}">{{ bx['team_name'] }}</a></td>
                <td></td>
                <td>{{ bx['minutes'] }}</td>
                <td>{{ bx['points'] }}</td>
                <td>{{ bx['two_points_made'] }}</td>
                <td>{{ bx['two_points_attempted'] }}</td>
                <td>{{ bx['three_points_made'] }}</td>
                <td>{{ bx['three_points_attempted'] }}</td>
                <td>{{ bx['free_throws_made'] }}</td>
                <td>{{ bx['free_throws_attempted'] }}</td>
                <td>{{ bx['offensive_rebounds'] }}</td>
                <td>{{ bx['defensive_rebounds'] }}</td>
                <td>{{ bx['total_rebounds'] }}</td>
                <td>{{ bx['assists'] }}</td>
                <td>{{ bx['steals'] }}</td>
                <td>{{ bx['turnovers'] }}</td>
                <td>{{ bx['blocks_favour'] }}</td>
                <td>{{ bx['blocks_against'] }}</td>
                <td>{{ bx['fouls_committed'] }}</td>
                <td>{{ bx['fouls_received'] }}</td>
                <td>{{ bx['valuation'] }}</td>
                <td>{{ bx['plus_minus'] }}</td>
              </tr>
              {% elif bx['team_id'] == match['team_id_b'] %}
              <tr>
                <td>{{ bx['dorsal'] }}</td>
                <td class="player-column"><a class="nav-link" href="/player/{{ bx['player_id'] }}">{{ bx['player_name'] }}</a></td>
                <td>
                  {% if bx['is_starter'] == 1 %}
                    Yes
                  {% else %}
                    No
                  {% endif %}
                </td>
                <td>{{ bx['minutes'] }}</td>
                <td>{{ bx['points'] }}</td>
                <td>{{ bx['two_points_made'] }}</td>
                <td>{{ bx['two_points_attempted'] }}</td>
                <td>{{ bx['three_points_made'] }}</td>
                <td>{{ bx['three_points_attempted'] }}</td>
                <td>{{ bx['free_throws_made'] }}</td>
                <td>{{ bx['free_throws_attempted'] }}</td>
                <td>{{ bx['offensive_rebounds'] }}</td>
                <td>{{ bx['defensive_rebounds'] }}</td>
                <td>{{ bx['total_rebounds'] }}</td>
                <td>{{ bx['assists'] }}</td>
                <td>{{ bx['steals'] }}</td>
                <td>{{ bx['turnovers'] }}</td>
                <td>{{ bx['blocks_favour'] }}</td>
                <td>{{ bx['blocks_against'] }}</td>
                <td>{{ bx['fouls_committed'] }}</td>
                <td>{{ bx['fouls_received'] }}</td>
                <td>{{ bx['valuation'] }}</td>
                <td>{{ bx['plus_minus'] }}</td>
              </tr>
              {% endif %}
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>

    <!-- Play by Play Tab -->
    <div class="tab-pane fade px-3" id="play-tab-content" role="tabpanel" tabindex="3">
      {% for play in play_by_play %}
        {% if play['team_id'] == match['team_id_a'] %}
          <div class="d-flex justify-content-around align-items-center mb-3">
            <div class="card shadow-sm" style="width: 25%;">
              <h6 class="card-header fw-bold text-bg-primary"><a class="text-decoration-none text-light" href="/team/{{ play['team_id'] }}/{{ match['season_code'] }}">{{ play['team_name'] }}</a></h6>
              {% if play['points'] and play['points'] > 0 %}
              <div class="card-body text-bg-warning">
              {% else %}
              <div class="card-body">
              {% endif %}
                <h6 class="card-subtitle mb-2 text-body-secondary">
                  <strong><a class="text-decoration-none text-primary" href="/player/{{ play['player_id'] }}">{{ play['player_name'] }}</a></strong> 
                  {% if play['player_name'] != 'TECHNICAL' %} · Play: {{ play['player_total_plays'] }} {% endif %}
                </h6>
                <p class="card-text">{{ play['play_info'] }}</p>
              </div>
            </div>
            <div class="flex-grow-1 d-flex align-items-center">
              <hr class="w-100 my-0">
              {% if play['points'] and play['points'] > 0 %}
                <div class="d-flex flex-column align-items-center justify-content-center">
                  <h3 class="mx-3"><span class="badge text-bg-secondary shadow">{{ play['minute'] }}:00</span></h3>
                  <h1 class="mx-3"><span class="badge text-bg-primary shadow-lg">{{ play['points_a'] }} - {{ play['points_b'] }}</span></h3>
                </div>
              {% else %}
                <h3 class="mx-3"><span class="badge text-bg-secondary shadow">{{ play['minute'] }}:00</span></h3>
              {% endif %}
              <div class="w-100 my-0"></div>
            </div>
            <h4 style="width: 25%;"></h4>
          </div>
        {% elif play['team_id'] == match['team_id_b'] %}
          <div class="d-flex justify-content-around align-items-center mb-3">
            <h4 style="width: 25%;"></h4>
            <div class="flex-grow-1 d-flex align-items-center">
              <div class="w-100 my-0"></div>
              {% if play['points'] and play['points'] > 0 %}
                <div class="d-flex flex-column align-items-center justify-content-center">
                  <h3 class="mx-3"><span class="badge text-bg-secondary shadow">{{ play['minute'] }}:00</span></h3>
                  <h1 class="mx-3"><span class="badge text-bg-danger shadow-lg">{{ play['points_a'] }} - {{ play['points_b'] }}</span></h3>
                </div>
              {% else %}
                <h3 class="mx-3"><span class="badge text-bg-secondary shadow">{{ play['minute'] }}:00</span></h3>
              {% endif %}
              <hr class="w-100 my-0">
            </div>
            <div class="card shadow-sm" style="width: 25%;">
              <h6 class="card-header fw-bold text-bg-danger"><a class="text-decoration-none text-light" href="/team/{{ play['team_id'] }}/{{ match['season_code'] }}">{{ play['team_name'] }}</a></h6>
              {% if play['points'] and play['points'] > 0 %}
              <div class="card-body text-bg-warning">
              {% else %}
              <div class="card-body">
              {% endif %}
                <h6 class="card-subtitle mb-2 text-body-secondary">
                  <strong><a class="text-decoration-none text-danger" href="/player/{{ play['player_id'] }}">{{ play['player_name'] }}</a></strong> 
                  {% if play['player_name'] != 'TECHNICAL' %} · Play: {{ play['player_total_plays'] }} {% endif %}
                </h6>
                <p class="card-text">{{ play['play_info'] }}</p>
              </div>
            </div>
          </div>
        {% else %}
          <div class="d-flex justify-content-center align-items-center mb-3">
            <hr class="w-100 my-0">
            <h3 class="mx-3"><span class="badge text-bg-warning shadow-lg">{{ play['minute'] }}:00<br/>END OF {{ play['quarter_detailed'] }}</span></h3>
            <hr class="w-100 my-0">
          </div>
        {% endif %}
      {% endfor %}
    </div>
  </div>
</div>
{% endblock %}
