{% extends "layout.html" %}

{% block title %}Euroleague Players{% endblock %}

{% block content %}
    <h1 class="title">Order By</h1>
    
    <form method="POST" action="/player_names">
        <div class="field">
            <label class="label">Sort By</label>
            <div class="control">
                <div class="select">
                    <select name="sort_by" onchange="this.form.submit()">
                        <option value="player_id" {% if sort_by = 'player_id' %}selected{% endif %}>Player ID</option>
                        <option value="player_name" {% if sort_by = 'player_name' %}selected{% endif %}>Player Name</option>
                    </select>
                </div>
            </div>
        </div>
    </form>
{% endblock %}
