{% extends "layout.html" %} 

{% block title %}Admin Panel - Users{% endblock %}

{% block content %}
<div class="container-fluid d-flex flex-row">
  <div>
    {% include '_panelSidemenu.html' %}
  </div>
  <div class="content flex-grow-1">
    {% with messages = get_flashed_messages(with_categories=true) %}
      {% if messages %}
        {% for category, message in messages %}
          <div class="alert alert-{{category}} alert-dismissible fade show" role="alert">
            {{ message }}
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
          </div>
        {% endfor %}
      {% endif %}
    {% endwith %}
    <div class="d-flex justify-content-between align-items-center mb-1">
      <h2>Users</h2>
      <button class="btn btn-success" data-bs-toggle="modal" data-bs-target="#addUserModal">Add New User</button>
    </div>
    <table class="table table-striped table-hover">
      <thead class="table-dark">
        <tr>
          <th>Username</th>
          <th>Email</th>
          <th>Role</th>
          <th>Registered Time</th>
          <th>Supported Team</th>
          <th class="col-1"></th>
          <th class="col-1"></th>
        </tr>
      </thead>
      <tbody class="table-group-divider">
        {% for user in users %}
        <tr>
          <td>{{ user['username'] }}</td>
          <td>{{ user['email'] }}</td>
          <td>{{ user['role_detailed'] }}</td>
          <td>{{ user['register_time'] }}</td>
          <td>{{ user['team_name'] }}</td>
          <td><button class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#updateUserModal" {{ user['data_attributes'] }}>Update</button></td>
          <td><button class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#deleteUserModal" data-userid="{{ user['user_id'] }}" data-username="{{ user['username'] }}">Delete</button></td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>

<!-- Pagination -->
<nav aria-label="Page navigation">
  <ul class="pagination justify-content-center">
    {% if page_num > 1 %}
    <li class="page-item"><a class="page-link" href="?sort_by={{ sort_by }}&page={{ page_num - 1 }}">Previous</a></li>
    {% else %}
    <li class="page-item disabled"><a class="page-link" disabled>Previous</a></li>
    {% endif %}

    {% for p in range(page_num - 4, end_page + 1) %}
      {% if p == page_num and p > 0 %}
      <li class="page-item active"><a class="page-link" href="?sort_by={{ sort_by }}&page={{ p }}">{{ p }}</a></li>
      {% elif p > 0 %}
      <li class="page-item"><a class="page-link" href="?sort_by={{ sort_by }}&page={{ p }}">{{ p }}</a></li>
      {% endif %}
    {% endfor %}

    {% if page_count > page_num %}
    <li class="page-item"><a class="page-link" href="?sort_by={{ sort_by }}&page={{ page_num + 1 }}">Next</a></li>
    {% else %}
    <li class="page-item disabled"><a class="page-link" disabled>Next</a></li>
    {% endif %}
  </ul>
</nav>

<!-- Add User Modal -->
<div class="modal fade" id="addUserModal" tabindex="-1" aria-labelledby="addUserModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-scrollable">
    <div class="modal-content">
      <div class="modal-header">
        <h3 class="modal-title">Add New User</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form action="/panel/users/add" method="post" id="addUserForm">
          <div class="mb-2">
              <label>Username</label>
              <input type="text" class="form-control" name="username" id="addUser_username" placeholder="Enter username" required />
          </div>

          <div class="mb-2">
              <label>Email Address</label>
              <input type="email" class="form-control" name="email" id="addUser_email" placeholder="example@email.com" required />
          </div>

          <div class="mb-2">
              <label>Password (4 to 20 characters)</label>
              <input type="password" class="form-control" name="password" id="addUser_password" placeholder="Enter password" required />
          </div>

          <div class="mb-2">
              <label>Supported Team (Optional)</label>
              <select name="team_supported" id="addUser_team_supported" class="form-select">
                <option value="" selected>Select a Team</option>
                {% for team in team_names %}
                  <option value="{{ team['team_id'] }}">{{ team['team_name'] }}</option>
                {% endfor %}
              </select>
          </div>

          <label>Role</label>
          <div>
            <div class="form-check form-check-inline">
              <input class="form-check-input" type="radio" name="role" id="role_user" value="U" checked>
              <label class="form-check-label" for="role_user">User</label>
            </div>
            <div class="form-check form-check-inline">
              <input class="form-check-input" type="radio" name="role" id="role_admin" value="A">
              <label class="form-check-label" for="role_admin">Admin</label>
            </div>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="submit" class="btn btn-success" form="addUserForm">Create User</button>
      </div>
    </div>
  </div>
</div>

<!-- Update User Modal -->
<div class="modal fade" id="updateUserModal" tabindex="-1" aria-labelledby="updateUserModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-scrollable">
    <div class="modal-content">
      <div class="modal-header">
        <h3 class="modal-title">Update User</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form action="/panel/users/update" method="post" id="updateUserForm">
          <input type="hidden" class="form-control" name="user_id" id="updateUser_user_id" />
          <div class="mb-2">
              <label>Username</label>
              <input type="text" class="form-control" name="username" id="updateUser_username" placeholder="Enter username" required />
          </div>

          <div class="mb-2">
              <label>Email Address</label>
              <input type="email" class="form-control" name="email" id="updateUser_email" placeholder="example@email.com" required />
          </div>

          <div class="mb-2">
              <label>New Password (Optional, 4 to 20 characters)</label>
              <input type="password" class="form-control" name="password" id="updateUser_password" value="" placeholder="Enter new password" />
          </div>

          <div class="mb-2">
              <label>Supported Team (Optional)</label>
              <select name="team_supported" id="updateUser_team_supported" class="form-select">
                <option value="" selected>Select a Team</option>
                {% for team in team_names %}
                  <option value="{{ team['team_id'] }}">{{ team['team_name'] }}</option>
                {% endfor %}
              </select>
          </div>

          <label>Role</label>
          <div>
            <div class="form-check form-check-inline">
              <input class="form-check-input" type="radio" name="role" id="role_user" value="U" checked>
              <label class="form-check-label" for="role_user">User</label>
            </div>
            <div class="form-check form-check-inline">
              <input class="form-check-input" type="radio" name="role" id="role_admin" value="A">
              <label class="form-check-label" for="role_admin">Admin</label>
            </div>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="submit" class="btn btn-primary" form="updateUserForm">Update User</button>
      </div>
    </div>
  </div>
</div>

<!-- Delete User Modal -->
<div class="modal fade" id="deleteUserModal" tabindex="-1" aria-labelledby="deleteUserModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-scrollable">
    <div class="modal-content">
      <div class="modal-header">
        <h3 class="modal-title">Delete User</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form action="/panel/users/delete" method="post" id="deleteUserForm">
          <input type="hidden" class="form-control" name="user_id" id="deleteUser_user_id" />
        </form>
        <div class="mt-1 mb-1" id="message"></div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="submit" class="btn btn-danger" form="deleteUserForm">Delete User</button>
      </div>
    </div>
  </div>
</div>
{% endblock %}

{% block scripts %}
<script>
  const deleteUserModal = document.getElementById('deleteUserModal');
  if (deleteUserModal) {
    deleteUserModal.addEventListener('show.bs.modal', (event) => {
      const deleteButton = event.relatedTarget;
      const user_id = deleteButton.getAttribute('data-userid');
      const username = deleteButton.getAttribute('data-username');

      const message = deleteUserModal.querySelector('#message');
      message.innerHTML = 'The user <strong>' + username + '</strong> with the user ID <strong>' + user_id + '</strong> will be deleted. Are you sure?';

      const userIdInput = deleteUserModal.querySelector('#deleteUser_user_id');
      userIdInput.value = user_id;
    });
  }

  const updateUserModal = document.getElementById('updateUserModal');
  if (updateUserModal) {
    updateUserModal.addEventListener('show.bs.modal', (event) => {
      const updateButton = event.relatedTarget;
      const data = updateButton.dataset;

      const modalFields = updateUserModal.querySelectorAll('[id^="updateUser_"]');
      modalFields.forEach(field => {
        const fieldName = field.name || field.id.replace('updateUser_', '');
        if (data[fieldName] !== undefined) {
          var value = decodeURIComponent(data[fieldName]);
          field.value = value;
        }
      });
      
      if (data.role == 'A') {
        updateUserModal.querySelector('#role_admin').checked = true;
      }
      else {
        updateUserModal.querySelector('#role_user').checked = true;
      }

      if (data.team_supported != "None") {
        updateUserModal.querySelector('#updateUser_team_supported').value = data.team_supported;
      }
      else {
        updateUserModal.querySelector('#updateUser_team_supported').value = "";
      }
    });
  }
</script>
{% endblock %}
