{% extends "layout.html" %} 

{% block title %}Admin Panel - Plays{% endblock %}

{% block content %}
<div class="container-fluid d-flex flex-row">
  <div>
    {% include '_panelSidemenu.html' %}
  </div>
  <div class="content flex-grow-1">
    {% with messages = get_flashed_messages(with_categories=true) %}
      {% if messages %}
        {% for category, message in messages %}
          <div class="alert alert-{{category}} alert-dismissible fade show" role="alert">
            {{ message }}
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
          </div>
        {% endfor %}
      {% endif %}
    {% endwith %}
    <div class="d-flex justify-content-between align-items-center mb-1">
      <h2>Plays</h2>
      <button class="btn btn-success" data-bs-toggle="modal" data-bs-target="#addPlayModal">Add New Play</button>
    </div>
    <table class="table table-striped table-hover">
      <thead class="table-dark">
        <tr>
          <th>Game Play ID</th>
          <th>Game ID</th>
          <th>Player</th>
          <th>Team</th>
          <th>Play No</th>
          <th>Quarter</th>
          <th>Marker Time</th>
          <th>Play Type</th>
          <th>Play Info</th>
          <th class="col-1"></th>
          <th class="col-1"></th>
        </tr>
      </thead>
      <tbody class="table-group-divider">
        {% for play in plays %}
        <tr>
          <td>{{ play['game_play_id'] }}</td>
          <td>{{ play['game_id'] }}</td>
          <td>{{ play['player_name'] }}</td>
          <td>{{ play['team_name'] }}</td>
          <td>{{ play['number_of_play'] }}</td>
          <td>{{ play['quarter'] }}</td>
          <td>{{ play['marker_time'] }}</td>
          <td>{{ play['play_type'] }}</td>
          <td>{{ play['play_info'] }}</td>
          <td><button class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#updatePlayModal" {{ play['data_attributes'] }}>Update</button></td>
          <td><button class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#deletePlayModal" data-game-play-id="{{ play['game_play_id'] }}">Delete</button></td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>

<!-- Pagination -->
<nav aria-label="Page navigation">
  <ul class="pagination justify-content-center">
    {% if page_num > 1 %}
    <li class="page-item"><a class="page-link" href="?sort_by={{ sort_by }}&page={{ page_num - 1 }}">Previous</a></li>
    {% else %}
    <li class="page-item disabled"><a class="page-link" disabled>Previous</a></li>
    {% endif %}

    {% for p in range(page_num - 4, end_page + 1) %}
      {% if p == page_num and p > 0 %}
      <li class="page-item active"><a class="page-link" href="?sort_by={{ sort_by }}&page={{ p }}">{{ p }}</a></li>
      {% elif p > 0 %}
      <li class="page-item"><a class="page-link" href="?sort_by={{ sort_by }}&page={{ p }}">{{ p }}</a></li>
      {% endif %}
    {% endfor %}

    {% if page_count > page_num %}
    <li class="page-item"><a class="page-link" href="?sort_by={{ sort_by }}&page={{ page_num + 1 }}">Next</a></li>
    {% else %}
    <li class="page-item disabled"><a class="page-link" disabled>Next</a></li>
    {% endif %}
  </ul>
</nav>

<!-- Add Play Modal -->
<div class="modal fade" id="addPlayModal" tabindex="-1" aria-labelledby="addPlayModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <h3 class="modal-title">Add New Play</h3>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <form action="/panel/plays/add" method="post" id="addPlayForm">
            <div class="row mb-2">
              <div class="col-6">
                <label>Game ID</label>
                <select name="game_id" id="addPlay_game_id" class="form-select">
                  <option disabled selected>Select a Game</option>
                  {% for match in matches %}
                    <option value="{{ match['game_id'] }}">{{ match['game_id'] }}</option>
                  {% endfor %}
                </select>
              </div>
              <div class="col-6">
                <label>Team</label>
                <select name="team_id" id="addPlay_team_id" class="form-select">
                  <option disabled selected>Select a Team</option>
                </select>
              </div>
            </div>

            <div class="row mb-2">
              <div class="col-6">
                <label>Player</label>
                <select name="player_id" id="addPlay_player_id" class="form-select">
                  <option disabled selected>Select a Player</option>
                </select>
              </div>
              <div class="col-6">
                <label>Quarter</label>
                <select name="quarter" id="addPlay_quarter" class="form-select">
                  <option disabled selected>Select Quarter</option>
                  <option value="q1">1st Quarter</option>
                  <option value="q2">2nd Quarter</option>
                  <option value="q3">3rd Quarter</option>
                  <option value="q4">4th Quarter</option>
                  <option value="extra_time">Extra Time</option>
                </select>
              </div>
            </div>
  
            <div class="row mb-2">
              <div class="col-6">
                <label>Number of Play</label>
                <input type="number" class="form-control" name="number_of_play" id="addPlay_number_of_play" placeholder="Enter play number" required />
              </div>
              <div class="col-6">
                <label>Play Type</label>
                <input type="text" class="form-control" name="play_type" id="addPlay_play_type" placeholder="Enter play type" required />
              </div>
            </div>
  
            <div class="row mb-2">
              <div class="col-6">
                <label>Dorsal</label>
                <input type="number" class="form-control" name="dorsal" id="addPlay_dorsal" placeholder="Enter player dorsal" />
              </div>
              <div class="col-6">
                <label>Minute</label>
                <input type="number" class="form-control" name="minute" id="addPlay_minute" placeholder="Enter minute" required />
              </div>
            </div>
  
            <div class="row mb-2">
              <div class="col-6">
                <label>Marker Time</label>
                <input type="text" class="form-control" name="marker_time" id="addPlay_marker_time" placeholder="Enter marker time (mm:ss)" required />
              </div>
              <div class="col-6">
                <label>Play Info</label>
                <input type="text" class="form-control" name="play_info" id="addPlay_play_info" placeholder="Enter play information" required />
              </div>
            </div>
          </form>      
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button type="submit" class="btn btn-success" form="addPlayForm">Create Play</button>
        </div>
      </div>
    </div>
  </div>  

<!-- Update Play Modal -->
<div class="modal fade" id="updatePlayModal" tabindex="-1" aria-labelledby="updatePlayModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <h3 class="modal-title">Update Play</h3>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <form action="/panel/plays/update" method="post" id="updatePlayForm">
            <input type="hidden" class="form-control" name="game_play_id" id="updatePlay_game_play_id" />
            <div class="row mb-2">
              <div class="col-6">
                <label>Game ID</label>
                <select name="game_id" id="updatePlay_game_id" class="form-select">
                  <option disabled selected>Select a Match</option>
                  {% for match in matches %}
                    <option value="{{ match['game_id'] }}">{{ match['game_id'] }}</option>
                  {% endfor %}
                </select>
              </div>
              <div class="col-6">
                <label>Team</label>
                <select name="team_id" id="updatePlay_team_id" class="form-select">
                  <option disabled selected>Select a Team</option>
                </select>
              </div>
            </div>

            <div class="row mb-2">
              <div class="col-6">
                <label>Player</label>
                <select name="player_id" id="updatePlay_player_id" class="form-select">
                  <option disabled selected>Select a Player</option>
                </select>
              </div>
              <div class="col-6">
                <label>Quarter</label>
                <select name="quarter" id="updatePlay_quarter" class="form-select">
                  <option disabled selected>Select Quarter</option>
                  <option value="q1">1st Quarter</option>
                  <option value="q2">2nd Quarter</option>
                  <option value="q3">3rd Quarter</option>
                  <option value="q4">4th Quarter</option>
                  <option value="extra_time">Extra Time</option>
                </select>
              </div>
            </div>

            <div class="row mb-2">
              <div class="col-6">
                <label>Number of Play</label>
                <input type="number" class="form-control" name="number_of_play" id="updatePlay_number_of_play" placeholder="Enter play number" required />
              </div>
              <div class="col-6">
                <label>Play Type</label>
                <input type="text" class="form-control" name="play_type" id="updatePlay_play_type" placeholder="Enter play type" required />
              </div>
            </div>

            <div class="row mb-2">
              <div class="col-6">
                <label>Dorsal</label>
                <input type="number" class="form-control" name="dorsal" id="updatePlay_dorsal" placeholder="Enter dorsal" />
              </div>
              <div class="col-6">
                <label>Minute</label>
                <input type="number" class="form-control" name="minute" id="updatePlay_minute" placeholder="Enter minute" required />
              </div>
            </div>

            <div class="row mb-2">
              <div class="col-6">
                <label>Marker Time</label>
                <input type="text" class="form-control" name="marker_time" id="updatePlay_marker_time" placeholder="Enter marker time (mm:ss)" required />
              </div>
              <div class="col-6">
                <label>Play Info</label>
                <input type="text" class="form-control" name="play_info" id="updatePlay_play_info" placeholder="Enter play information" required />
              </div>
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button type="submit" class="btn btn-primary" form="updatePlayForm">Update Play</button>
        </div>
      </div>
    </div>
  </div>  

<!-- Delete Play Modal -->
<div class="modal fade" id="deletePlayModal" tabindex="-1" aria-labelledby="deletePlayModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-scrollable">
    <div class="modal-content">
      <div class="modal-header">
        <h3 class="modal-title">Delete Play</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form action="/panel/plays/delete" method="post" id="deletePlayForm">
          <input type="hidden" class="form-control" name="game_play_id" id="deletePlay_game_play_id" />
        </form>
        <div class="mt-1 mb-1" id="message"></div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="submit" class="btn btn-danger" form="deletePlayForm">Delete Play</button>
      </div>
    </div>
  </div>
</div>
{% endblock %}

{% block scripts %}
<script>
  const deletePlayModal = document.getElementById('deletePlayModal');
  if (deletePlayModal) {
    deletePlayModal.addEventListener('show.bs.modal', (event) => {
      const deleteButton = event.relatedTarget;
      const play_id = deleteButton.getAttribute('data-game-play-id');

      const message = deletePlayModal.querySelector('#message');
      message.innerHTML = 'The play with the ID <strong>' + play_id + '</strong> will be deleted. Are you sure?';

      const playIdInput = deletePlayModal.querySelector('#deletePlay_game_play_id');
      playIdInput.value = play_id;
    });
  }

  const addPlayModal = document.getElementById('addPlayModal');
  if (addPlayModal) {
    document.getElementById('addPlay_game_id').addEventListener('change', (event) => {
      fillTeamDropdownByGame(event.target.value, 'addPlay_team_id', 'addPlay_player_id');
    });

    document.getElementById('addPlay_team_id').addEventListener('change', (event) => {
      const game_id = document.getElementById('addPlay_game_id').value;
      fillPlayerDropdownByTeamSeason(game_id, event.target.value, 'addPlay_player_id');
    });
  }

  const updatePlayModal = document.getElementById('updatePlayModal');
  if (updatePlayModal) {
    updatePlayModal.addEventListener('show.bs.modal', (event) => {
      const updateButton = event.relatedTarget;
      const data = updateButton.dataset;

      const modalFields = updatePlayModal.querySelectorAll('[id^="updatePlay_"]');
      modalFields.forEach(field => {
        const fieldName = field.name || field.id.replace('updatePlay_', '');
        if (data[fieldName] !== undefined) {
          var value = decodeURIComponent(data[fieldName]);
          field.value = value;
        }
      });

      fillTeamDropdownByGame(data.game_id, 'updatePlay_team_id', 'updatePlay_player_id', data.team_id);
      fillPlayerDropdownByTeamSeason(data.game_id, data.team_id, 'updatePlay_player_id', data.player_id);
    });

    document.getElementById('updatePlay_game_id').addEventListener('change', (event) => {
      fillTeamDropdownByGame(event.target.value, 'updatePlay_team_id', 'updatePlay_player_id');
    });

    document.getElementById('updatePlay_team_id').addEventListener('change', (event) => {
      const game_id = document.getElementById('updatePlay_game_id').value;
      fillPlayerDropdownByTeamSeason(game_id, event.target.value, 'updatePlay_player_id');
    });
  }

  function fillTeamDropdownByGame(game_id, teamElement, playerElement, team_id = null) {
    fetch(`/panel/get_teams_by_match/${game_id}`)
      .then(response => response.json())
      .then(data => {
        const teamSelect = document.getElementById(teamElement);
        teamSelect.innerHTML = '<option disabled selected>Select a Team</option>';
        const playerSelect = document.getElementById(playerElement);
        playerSelect.innerHTML = '<option disabled selected>Select a Player</option>';

        var option = document.createElement('option');
        option.value = data.team.team_id_a;
        option.textContent = data.team.team_a;
        if (data.team.team_id_a == team_id) option.selected = true;
        teamSelect.appendChild(option);

        option = document.createElement('option');
        option.value = data.team.team_id_b;
        option.textContent = data.team.team_b;
        if (data.team.team_id_b == team_id) option.selected = true;
        teamSelect.appendChild(option);
      })
  }

  function fillPlayerDropdownByTeamSeason(game_id, team_id, playerElement, player_id = null) {
    const season_code = game_id.split('_')[0];
    fetch(`/panel/get_players_by_team_season/${team_id}/${season_code}`)
      .then(response => response.json())
      .then(data => {
        const playerSelect = document.getElementById(playerElement);
        playerSelect.innerHTML = '<option disabled selected>Select a Player</option>';

        data.players.forEach(player => {
          option = document.createElement('option');
          option.value = player.player_id;
          option.textContent = player.player_name;
          if (player.player_id == player_id) option.selected = true;
          playerSelect.appendChild(option);
        });
      })
  }
</script>
{% endblock %}
