{% extends "layout.html" %}

{% block title %}Play by Play{% endblock %}

{% block content %}
<section>
  <h2>Play by Play</h2>
  <table>
    <thead>
      <tr>
        <th>Time</th>
        <th>Team</th>
        <th>Player</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>10:32</td>
        <td>Real Madrid</td>
        <td>Player A</td>
        <td>3-Point Shot</td>
      </tr>
      <tr>
        <td>09:45</td>
        <td>Olympiacos</td>
        <td>Player B</td>
        <td>Dunk</td>
      </tr>
      <tr>
        <td>08:12</td>
        <td>Real Madrid</td>
        <td>Player C</td>
        <td>Foul</td>
      </tr>
    </tbody>
  </table>
</section>
{% endblock %}