{% extends "layout.html" %}

{% block title %}Play by Play{% endblock %}

{% block content %}
<h1 class="title">Euroleague Plays</h1>

<table class="table is-striped is-fullwidth">


  <tbody class="table-group-divider">
    {% for play_by_play in data %}
    <tr>
      <td>{{ play_by_play['date'] }}</td>
      <td>{{ play_by_play['play_time'] }}</td>
      <td>{{ play_by_play['game'] }}</td>
      <td>{{ play_by_play['team'] }}</td>
      <td>{{ play_by_play['player_name'] }}</td>
      <td>{{ play_by_play['quarter_description'] }}</td>
      <td>{{ play_by_play['play_type'] }}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}