{% extends "layout.html" %}

{% block title %}{{ player_name['player_name'] }}{% endblock %}

{% block content %} <!-- Will change how this page looks in general -->
<h1>{{ player_name['player_name'] }}</h1>

<ul class="nav nav-tabs" role="tablist">
{% for player in player_seasons %}
  {% if player['season_code'] == season_data['season_code'] %}
  <li class="nav-item" role="presentation">
    <a href="{{ url_for('player_details_page', player_id=player_name['player_id'], season_code=player['season_code']) }}" class="nav-link active" role="tab">
      Season {{ player['season_code'] }}
    </a>
  </li>
  {% else %}
  <li class="nav-item" role="presentation">
    <a href="{{ url_for('player_details_page', player_id=player_name['player_id'], season_code=player['season_code']) }}" class="nav-link" role="tab">
      Season {{ player['season_code'] }}
    </a>
  </li>
  {% endif %}
{% endfor %}
</ul>

<!-- Daha table görünümü veremedim vereceğim-->
<tbody class="table-group-divider"> 
    {% for player in player_seasons %}
    {% if player['season_code'] == season_data['season_code'] %}
    <tr>
      <td>{{ player['team_id'] }}</td>
      <td>{{ player['games_played'] }}</td>
      <td>{{ player['games_started'] }}</td>
      <td>{{ player['minutes'] }}</td>
      <td>{{ player['points'] }}</td>
      <td>{{ player['total_rebounds'] }}</td>
      <td>{{ player['assists'] }}</td>
      <td>{{ player['steals'] }}</td>
      <td>{{ player['turnovers'] }}</td>
    </tr>
    {% endif %}
    {% endfor %}
  </tbody>
{% endblock %}

