{% extends "layout.html" %}

{% block title %}{{ player_name['player_name'] }}{% endblock %}

{% block content %}
<h1 class="centered-title">{{ player_name['player_name'] }} Career Stats</h1>
<div class="player-stat-list">
  <ul>
    {% for player in all_seasons_data %}
    <li class="player-row" id="season-{{ player['season'] }}" onclick="toggleDetails('{{ player['season'] }}')">
      <div class="season-code">{{ player['season'] }}</div>
      <div class="rest-of-stats">
        <span>{{ player['total_games_played'] }}</span>
        <span>{{ player['total_games_started'] }}</span>
        <span>{{ player['points_per_game'] }}</span>
        <span>{{ player['total_points'] }}</span>
        <span>{{ player['rebounds_per_game'] }}</span>
        <span>{{ player['total_rebounds'] }}</span>
        <span>{{ player['assists_per_game'] }}</span>
        <span>{{ player['total_assists'] }}</span>
        <span>{{ player['total_steals'] }}</span>
        <span>{{ player['steals_per_game'] }}</span>
        <span>{{ player['blocks_per_game'] }}</span>
        <span>{{ player['total_blocks'] }}</span>
      </div>
    </li>

    <li id="details-{{ player['season'] }}" class="season-details" style="display: none;">
      {% if specific_season_data %}
        <div class="additional-details">
          {% for seasonplayer in specific_season_data %}
            <p>Team ID: {{ seasonplayer['team_id'] }}</p>
          {% endfor %}
        </div>
      {% else %}
        <div class="additional-details">
          <p>No data for this season</p>
        </div>
      {% endif %}
    </li>    
    {% endfor %}
  </ul>
</div>

<script>
  function toggleDetails(season) {
    var details = document.getElementById('details-' + season);

    if (details.style.display === 'none' || details.style.display === '') {
      details.style.display = 'block';  
      var li = document.getElementById('season-' + season);
      li.style.marginBottom = '20px'; 
    } else {
      details.style.display = 'none';  
      var li = document.getElementById('season-' + season);
      li.style.marginBottom = '0';  
    }
  }
</script>

{% endblock %}