{% extends "layout.html" %}

{% block title %}Euroleague Seasons{% endblock %}

{% block content %}
<h1 class="text-center mb-3">Euroleague Season - {{current_season}}</h1>

<table class="table table-striped table-hover">
  <caption>Data until 2024.10.11</caption>
  <thead class="table-dark">
    <tr>
      <th class="col-3">
        Team Name
      </th>
      <th class="col-3">
        Matches Played
      </th>
      <th> Wins </th>
      <th> Losses </th>
    </tr>
  </thead>

  <tbody class="table-group-divider">
    {% for season in season_detail %}
    <tr onclick="window.location='/team/{{ season['team_id'] }}/{{ season['season_code'] }}';" style="cursor: pointer;">
      {% if season['team_name'] == champion['champion'] %}
        <td style="font-weight: bold; color: #28a745;">{{ season['team_name'] }} 👑</td>
      {% else %}
        <td>{{ season['team_name'] }}</td>
      {% endif %}
      <td>{{ season['games_played'] }}</td>
      <td>{{ season['wins'] }}</td>
      <td>{{ season['losses'] }}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}