{% extends "layout.html" %}

{% block title %}Signup{% endblock %}

{% block content %}
<body>
  {% with messages = get_flashed_messages() %}
    {% if messages %}
    <div class="alert alert-danger" role="alert">{{ messages[0] }}</div>
    {% endif %}
  {% endwith %}
  <h2>Signup Form</h2>
  <form action="{{ url_for('signup') }}" method="post">
    <div class="col-md-2 mb-2">
        <label>Username:</label>
        <input type="text" id="username" name="username" class="form-control" placeholder="Enter username" maxlength="20" required>
    </div>
    <div class="col-md-2 mb-2">
        <label>Email Address:</label>
        <input type="email" id="email" name="email" class="form-control" placeholder="Enter email" maxlength="100" required>
    </div>
    <div class="col-md-2 mb-3">
        <label>Password (4 to 25 characters):</label>
        <input type="password" id="password" name="password" pattern=".{4,25}" class="form-control" placeholder="Enter password" required>
    </div>
    <button type="submit" class="btn btn-primary">Signup</button>
  </form>
</body>
{% endblock %}
