{% extends "layout.html" %}

{% block title %}Signup{% endblock %}

{% block content %}
<body>
  <div class="row justify-content-center">
    <div class="col-md-3">
      {% with messages = get_flashed_messages() %}
        {% if messages %}
        <div class="alert alert-danger" role="alert">{{ messages[0] }}</div>
        {% endif %}
      {% endwith %}
    </div>
  </div>
  <div class="row justify-content-center">
    <div class="col-md-2">
      <h1 class="text-center">Sign up</h1>
      <form action="{{ url_for('signup') }}" method="post">
        <div class="mb-3">
            <label>Username:</label>
            <input type="text" id="username" name="username" class="form-control" placeholder="Enter username" maxlength="20" required>
        </div>
        <div class="mb-3">
            <label>Email Address:</label>
            <input type="email" id="email" name="email" class="form-control" placeholder="Enter email" maxlength="100" required>
        </div>
        <div class="mb-3">
            <label>Password (4 to 25 characters):</label>
            <input type="password" id="password" name="password" pattern=".{4,25}" class="form-control" placeholder="Enter password" required>
        </div>
        <div class="mb-3">
            <label>Confirm Password:</label>
            <input type="password" id="password2" name="password2" pattern=".{4,25}" class="form-control" placeholder="Enter password again" required>
        </div>
        <div class="mb-2">
            <label>Do you support a team? (Optional)</label>
            <select id="team_supported" name="team_supported" class="form-select">
              <option value="" selected>Select a Team</option>
              {% for team in team_names %}
                <option value="{{ team['team_id'] }}">{{ team['team_name'] }}</option>
              {% endfor %}
            </select>
        </div>
        <div class="form-check mb-3">
            <input class="form-check-input" type="checkbox" value="True" id="remember" name="remember" />
            <label class="form-check-label" for="remember"> Remember me </label>
        </div>
        <div class="d-flex justify-content-center mb-2">
            <button type="submit" class="btn btn-primary w-100 py-2">Sign up</button>
        </div>
      </form>
      <p class="text-center">Already have an account? <a href="{{ url_for('login') }}">Log back in!</a></p>
    </div>
  </div>
</body>
{% endblock %}
